{% from '_macros/lang.j2' import render_lang_object %}
{% from '_macros/utils.j2' import parse_header_image_styles %}


{% macro render_blog_tag(tag, href=none, onclick=none, id=none) %}
<button
  {% if id %}id="{{id}}"{% endif %}
  data-tag="{{tag.id}}"
  class="btn badge btn-custom"
  {% if onclick %}onclick="{{ onclick }}('{{ tag.id }}');"{% endif %}
>
  {% if href %}<a href="{{ href }}">{% endif %}
  <small>{{ render_lang_object(tag.name) }}</small>
  {% if href %}</a>{% endif %}
</button>
{% endmacro %}


{% macro render_blog_card(post) %}
<div id="card-{{post.id}}" class="card mt-0 mb-3 blog-card">
  <div class="row g-0 h-100">

    {# Image #}
    <div class="col-2 d-none d-md-block user-select-none">
      <div class="ratio ratio-1x1 h-100" style="border-right: var(--card-outline-outer)">
        <img
          src="{{ post.image.url }}"
          class="img-fluid object-fit-cover"
          alt="{{ post.image.alt_text }}"
          style="{{ parse_header_image_styles(post.image) }}"
        >
      </div>
    </div>

    {# Body #}
    <div class="col-12 col-md-10">
      <div class="card-body">

        {# Header Row #}
        <div class="row mb-1">

          {# Title #}
          <div class="col-9 col-lg-10 pe-0 ge-0 blog-title-container">
            <h5 class="card-title text-truncate my-0">
              <a title="{{post.title}}" class="underline-hover-text" href="{{url_for('blog.post', name=post.id)}}">
                {{post.title}}
                <div class="underline-hover"></div>
              </a>
            </h5>
          </div>

          {# Date #}
          <small class="col-3 col-lg-2 text-end ps-0 very-small" style="line-height: 1.2em;">
            {%- for l in config['LANGUAGES'] %}
            <span {{set_lang(l.code)}}>{{ post.date|dateformat(l.code)|capsfirst }}</span>
            {%- endfor %}
          </small>
        </div>
        {# /Header Row #}

        {# Subtitle Row #}
        <div class="row ml-auto flex-nowrap justify-content-between align-items-center mb-1">

          {# Group #}
          <p class="card-text col-auto d-inline-block mb-0">
            <small class="text-body-secondary">
              <a href="{{url_for('blog.group', slug=post.category.slug)}}" class="blog-subtitle"><i>{{ render_lang_object(post.category.name) }}</i></a>
            </small>
          </p>

          {# Tags #}
          <div class="col-auto user-select-none">
          {%- for tag in post.display_tags %}
          {{ render_blog_tag(tag, onclick="add_tag") }}
          {%- endfor %}
          </div>
        </div>
        {# /Subtitle Row #}

        {# Description #}
        <p class="card-text post-description">{{ post.description or '' }}</p>
      </div>
    </div>
    {# /Body #}

  </div>
</div>
{% endmacro %}


{% macro render_blog_category_card(category) %}
<div class="card mt-0 mb-3 p-3 blog-card">

  {# Title #}
  <h5 class="card-title mt-0">
    <a class="underline-hover-text" href="{{url_for('blog.group', slug=category.slug)}}">
      {{ render_lang_object(category.name )}}
      <div class="underline-hover"></div>
    </a>
  </h5>
  {# /Title #}

  {# Body #}
  <div class="px-2">
    <p class="blog-category-card-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <small>
      {{ render_lang_object({'en': 'Latest Post:', 'tj': 'Latest Post:', 'ja': '最新のエントリー：'})}}
      <a href="{{ url_for('blog.post', name=category.posts[0].id) }}" class="blog-subtitle"><i>{{ render_lang_object( category.posts[0].name ) }}</i></a>
    </small>
  </div>
  {# /Body #}

</div>
{% endmacro %}
