{% from '_macros/lang.j2' import render_lang_object %}


{% macro render_blog_tag(tag, href=none, onclick=none, id=none) %}
<button
  {% if id %}id="{{id}}"{% endif %}
  data-tag="{{tag.id}}"
  class="btn badge btn-custom"
  {% if onclick %}onclick="{{ onclick }}('{{ tag.id }}');"{% endif %}
>
  {% if href %}<a href="{{ href }}">{% endif %}
  {{ render_lang_object(tag.name) }}
  {% if href %}</a>{% endif %}
</button>
{% endmacro %}


{% macro render_blog_card(post) %}
<div id="card-{{post.id}}" class="card mt-0 mb-3 blog-card">
  <div class="row g-0 h-100">

    {# Image #}
    <div class="col-2 d-none d-md-block user-select-none">
      <div class="ratio ratio-1x1 h-100" style="border-right: var(--card-outline-outer)">
        <img
          src="{{url_for('static', filename='images/home-bg.jpg')}}"
          class="img-fluid object-fit-cover"
          alt="this is an image wooo"
        >
      </div>
    </div>

    {# Body #}
    <div class="col-12 col-md-10">
      <div class="card-body">

        {# Header Row #}
        <div class="row mb-1">

          {# Title #}
          <div class="col-9 col-lg-10 pe-0 ge-0 blog-title-container">
            <h5 class="card-title text-truncate my-0">
              <a title="{{post.title}}" class="underline-hover-text" href="{{url_for('blog.post', name=post.id)}}">
                {{post.title}}
                <div class="underline-hover"></div>
              </a>
            </h5>
          </div>

          {# Date #}
          <small class="col-3 col-lg-2 text-end ps-0">
            {%- for l in langs %}
            <span {{set_lang(l.code)}}>{{ post.date|postdateformat(l.code)|capsfirst }}</span>
            {%- endfor %}
          </small>
        </div>
        {# /Header Row #}

        {# Subtitle Row #}
        <div class="row ml-auto flex-nowrap justify-content-between">

          {# Group #}
          <p class="card-text col-auto d-inline-block">
            <small class="text-body-secondary">
              <a href="{{url_for('blog.group', slug=post.category.slug)}}" class="blog-subtitle"><i>{{post.category.name}}</i></a>
            </small>
          </p>

          {# Tags #}
          <div class="col-auto user-select-none">
          {%- for tag in post.display_tags %}
          {{ render_blog_tag(tag, onclick="add_tag") }}
          {%- endfor %}
          </div>
        </div>
        {# /Subtitle Row #}

        {# Description #}
        <p class="card-text text-truncate">{{ post.description }}</p>
      </div>
    </div>
    {# /Body #}

  </div>
</div>
{% endmacro %}
