{%- macro set_lang(l) -%}
lang="{{l}}" data-lang="{{l}}"{% if lang and lang != l %} class="hide"{% endif %}
{%- endmacro -%}


{% macro render_lang_select_button(l) %}
<button id="button-{{l.code}}" class="lang-button" lang="{{l.code}}" onclick="change_settings({ 'language': '{{l.code}}' });">
  <div>{{l.name}}</div>
</button>
{% endmacro %}


{% macro render_lang_object(obj, custom_render=none) %}
{%- for l, txt in dict(obj).items() -%}
<span {{set_lang(l)}}>{% if custom_render %}{{ custom_render(txt) }}{% else %}{{ txt }}{% endif %}</span>
{%- endfor -%}
{% endmacro %}


{% macro render_lang_object_from_var(variable) %}
{%- for l in config['LANGUAGES'] -%}
<span {{set_lang(l.code)}}>${ {{ variable }}.{{ l.code }} }</span>
{%- endfor -%}
{% endmacro %}
