{% from '_macros/utils.j2' import parse_header_image_styles %}


{% macro render_project_hex(project) %}
  {# Border #}
  <a class="hex hexicon-border" href="{{url_for('projects.summary', name=(project.id))}}">
    <div class="hex hexicon" style="background-image: url({{ project.image.url }}); background-size: cover; {{ parse_header_image_styles( project.image ) }}">

      <!-- Body -->
      <div class="hexicon-body">

        <!-- Date -->
        {% if project.get('created_date') or project.get('modified_date') %}
        <div class="hexicon-overlay hexicon-overlay-date">
          {{ date_year_range(project.get('created_date'), project.get('modified_date')) }}
        </div>
        {% endif %}

        <!-- Title -->
        <div class="hexicon-overlay hexicon-overlay-middle">
          <h3 style="margin: 0px 6px; font-weight: normal; line-height: 1.2em;">{{project.name}}</h3>
        </div>

        <!-- Location Category -->
        <div class="hexicon-overlay hexicon-overlay-bottom">
          {{ project_icon(project.location) }}
        </div>
      </div>
    </div>
  </a>
{% endmacro %}


{%- macro project_icon(v) -%}
  <span class="material-symbols-outlined">
    {% if   v == DB_ENUMS.ProjectLocation.IRL %}account_box
    {% elif v == DB_ENUMS.ProjectLocation.INT %}open_in_browser
    {% elif v == DB_ENUMS.ProjectLocation.EXT %}open_in_new
    {% endif %}
  </span>
{%- endmacro -%}


{% macro date_year_range(start, end) %}
  {% if start.year and end.year %}
    {% if start.year == end.year %}{{start.year}}{% else %}{{start.year}}-{{end.year}}{% endif %}
  {% elif start.year %}
    {{ start.year }}
  {% elif end.year %}
    {{ end.year }}
  {% endif %}
{% endmacro %}
