{%- macro render_proficiency_chart(elementId, scores, config) %}
<div id="{{elementId}}" class="h-100"></div>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/proficiencies.css') }}">
<script type="module">
  import { graph_proficiencies } from "{{ url_for('static', filename='scripts/proficiencies.js') }}";

  const parent = document.getElementById('{{ elementId }}')

  const config = {
    'labels': [
      {%- for section in config %}
      { 'id': '{{ section.id }}', 'title': {{ section.head }} },
      {%- endfor %}
    ],
    'palette': {
      'border':     'black',
      'grid':       'lightgray',
      'dataStroke': 'var(--color-primary)',
      'dataFill':   'var(--color-primary-1)',
      'textFill':      'var(--color-off-black)',
      'textHighlight': 'var(--color-primary)',
    },
  }

  const data = {{ scores }};

  // Create the graph element
  const svg = graph_proficiencies(parent, data, config)

  // Add the graph
  parent.innerHTML = '';
  parent.append(svg.node());
</script>
{%- endmacro %}
