{% from '_macros/utils.j2' import render_toggle_button_plus %}


{#
  Render a single entry in the timeline.
#}
{% macro render_timeline_entry(entry) %}
<div id="timeline-{{entry.id}}" class="card double-outline my-4 mx-3 timeline-entry"
  {%- if entry.has_logo %}
    style="--bg-url: url({{ url_for('static', filename='data-standin/logos-timeline/' + entry.id + '/logo-dark.png') }}); --bg-color: #{{ entry.bg_color_hex }}; --size: var(--icon-size-lg);"
  {%- endif %}
>
  <div class="card-body">

    {# Header #}
    <div class="d-flex w-100 align-items-center">
      <div class="flex-fill">
        <h5 class="card-title mb-0 w-100">{{ entry.title }}</h5>
        <p class="card-text me-2">
          <small class="text-body-secondary">{{ entry.role }}</small>
        </p>
      </div>
      <div class="me-1">
        {{ render_toggle_button_plus('#timeline-' + entry.id + '-body', 'collapse') }}
      </div>
    </div>
    {# /Header #}

    {# Body #}
    <div class="card-text collapse" id="timeline-{{entry.id}}-body">
      <div class="my-2 mx-1 px-2">
        {{ entry.description }}
      </div>
    </div>
    {# /Body #}

  </div>
</div>
{% endmacro %}


{#
  Render a block of entries in the timeline.
 #}
{% macro render_timeline_block(label, is_final=false) %}
<div class="timeline-block">

  {# Block label #}
  {% if label %}
  <div class="w-100 d-flex justify-content-center">
    <div id="timeline-{{ label | lower | replace(' ', '') }}" class="pt-3 pb-1 timeline-block-label-container">
    <div class="timeline-block-label py-2 px-4">
      <h6 class="my-0">{{ label }}</h6>
    </div>
    </div>
  </div>
  <div style="margin-top: -2.5rem;"></div>
  {% endif %}

  {# Block body #}
  {{ caller() }}

  {# Spacing for previous label - fix #}
  {%- if is_final %}
  <div style="height: 0.01rem;"></div>
  {%- else %}
  <div style="height: 2rem;"></div>
  {%- endif %}
</div>
{% endmacro %}
