{% from '_macros/lang.j2' import set_lang, render_lang_object with context %}


{% macro render_contents_entry(href, titles, sub=false) %}
<a class="p-1 w-100 {%- if sub %} ps-4 small {% else %} ps-3 {% endif -%}" href="#{{ href }}" style="position: relative;">
  {%- if not sub %}
  <h6 class="mb-0 w-100">
  {%- endif %}
  {{ render_lang_object(titles) }}
  {%- if not sub %}
  </h6>
  {%- endif %}
</a>
{% endmacro %}


{% macro render_breadcrumb_item(name, link) %}
<li title="{{ name['en'] }}" class="py-1">
  <a href="{{ link }}">{{ render_lang_object(name) }}</a>
</li>
{% endmacro %}


{%- macro parse_header_image_styles(image) -%}
  object-position: {{ image.x_align }} {{ image.y_align }}; background-position: {{ image.x_align }} {{ image.y_align }};
{%- endmacro -%}


{% macro offset_to_pct(offset) %}
{%- if offset == 'top' %}0%{% elif offset == 'center' %}50%{% elif offset == 'bottom' %}100%{% else %}{{offset}}{% endif -%}
{% endmacro %}
