{% from '_macros/lang.j2' import set_lang, render_lang_object with context %}


{% macro render_contents_entry(href, titles) %}
<h6>
  <a class="p-1 ps-3" href="#{{ href }}">
  {{ render_lang_object(titles) }}
  </a>
</h6>
{% endmacro %}
