#about-me-title-section, #about-me-title-section .hex-container-column {
  --s: 125px;
}

#about-me-title-section h1 {
  font-size: 1rem;
}

#about-me-title-section h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#about-me-title-container {
  flex-basis: calc(100% - var(--s) - var(--bs-gutter-x));
  min-width: 120px;
}



#basic-info-card dl {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%) auto);
  grid-template-rows: auto auto;
  gap: 0.5em;
}

#basic-info-card dt {
  font-family: var(--font-head);
}



.bar-chart-table th {
  font-family: var(--font-head);
  text-align: right;
  padding-right: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-right: 1px solid gray;
}

.bar-chart-table td {
  text-align: left;
  padding: 0.25em 0.5em;
  min-width: 5em;
  position: relative;
  color: var(--color-secondary)
}


.bar-chart-item::before {
  content: '⬡⬡⬡⬡⬡';
  position: absolute;
  top: 0.25em;
  left: 0.5em;
}

.bar-chart-item span {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



#recent-activity tr:nth-of-type(2n+1) {
  border-top: 1px solid lightgray;
}

#recent-activity .date-column {
  white-space: nowrap;
  max-width: 100%;
  font-family: var(--font-mono);
}




svg.graph-genres .arc {
  fill-opacity: 0.6;
}

svg.graph-genres .arc.active {
  fill-opacity: 0.6;
}

svg.graph-genres .arc.inactive {
  fill-opacity: 0.3;
}

svg.graph-genres .arc.hidden {
  fill-opacity: 0;
}




svg.graph-vowels text.vowel {
  transition: font-size 100ms cubic-bezier(.36,.68,.46,1.45);
  font-family: var(--font-mono);
  fill: var(--color-secondary-2);
}

svg.graph-vowels text.vowel.active {
  fill: var(--color-primary-2);
  font-size: 1.25em;
}
