#about-me-title-section, #about-me-title-section .hex-container-column {
  --s: 125px;
}

#about-me-title-section h1 {
  font-size: 1rem;
}

#about-me-title-section h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#about-me-title-container {
  flex-basis: calc(100% - var(--s) - var(--bs-gutter-x));
  min-width: 120px;
}



dl {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%) auto);
  grid-template-rows: auto auto;
  gap: 0.5em;
}

dt {
  font-family: var(--font-head);
}



.bar-chart-table th {
  font-family: var(--font-head);
  text-align: right;
  padding-right: 0.75em;
  border-right: 1px solid gray;
}

.bar-chart-table td {
  text-align: left;
  padding: 0.25em 0.5em;
}



#recent-activity tr:nth-of-type(2n+1) {
  border-top: 1px solid lightgray;
}

#recent-activity .date-column {
  white-space: nowrap;
  width: 1%;
  font-family: var(--font-mono);
}
