#about-me-title-section, #about-me-title-section .hex-container-column {
  --s: 125px;
}

#about-me-title-section h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#about-me-title-container {
  flex-basis: calc(100% - var(--s) - var(--bs-gutter-x));
  min-width: 120px;
}



#basic-info-card dl {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%) auto);
  grid-template-rows: auto auto;
  gap: 0.5em;
}

#basic-info-card dt {
  font-family: var(--font-head);
}



.bar-chart-table th {
  font-family: var(--font-head);
  text-align: right;
  padding-right: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-right: 1px solid gray;
}

.bar-chart-table td {
  text-align: left;
  padding: 0.25em 0.5em;
  min-width: 5em;
  position: relative;
  color: var(--color-secondary);
  user-select: none;
}


.bar-chart-item::before {
  content: '⬡⬡⬡⬡⬡';
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  user-select: none;
}

.bar-chart-item span {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.qualifications-container dd::before {
  content: "⬦";
  user-select: none;
  font-style: normal;
  padding-right: 0.2em;
}


.score-group-container h6 {
  font-size: 1em;
}

.score-group-container .material-symbols-inline {
  line-height: 0.9em;
  color: var(--color-secondary);
  user-select: none;
  transition: color 100ms ease;
}

.score-group-container .material-symbols-inline:hover {
  color: var(--color-primary);
}

.score-row dt {
  font-weight: unset;
}

.score-row dd {
  font-weight: 500;
  font-family: var(--font-mono);
}

.score-row:hover dd, .score-row:hover dt {
  color: var(--color-primary);
}



#recent-activity tr:nth-of-type(2n+1) {
  border-top: 1px solid lightgray;
}

#recent-activity .date-column {
  white-space: nowrap;
  max-width: 100%;
  font-family: var(--font-mono);
}




.vis-choice-button .card {
  transition: transform 100ms cubic-bezier(.36,.68,.46,1.45);
}

.vis-choice-button.inactive .card {
  transform:         scale(0.8);
  -webkit-transform: scale(0.8);
}

.vis-choice-button.inactive:hover .card {
  transform:         scale(0.9);
  -webkit-transform: scale(0.9);
}

.vis-choice-button.inactive span {
  color: var(--color-gray);
}

.vis-choice-button:hover span {
  color: var(--color-primary);
}




svg.graph-interests .x-axis .domain {
  stroke:       var(--color-off-black);
  stroke-width: 2;
  stroke-linecap: round;
}

svg.graph-interests .x-axis .domain-decor {
  stroke:       var(--color-off-black);
  stroke-width: 1;
}

svg.graph-interests .y-axis {
  color: var(--color-gray);
  font-style: italic;
}

svg.graph-interests .data-path {
  stroke: var(--color-secondary-1);
  stroke-width: 1.5;
  fill: none;
  mix-blend-mode: multiply;
}

svg.graph-interests .data-path.active {
  stroke: var(--color-primary);
}

svg.graph-interests .data-path.inactive {
  stroke: #ddd;
  mix-blend-mode: normal;
}

svg.graph-interests .vertical-marker {
  fill: black;
}

svg.graph-interests .vertical-marker.active {
  fill: var(--color-primary);
}

svg.graph-interests .vertical-marker.inactive {
  fill: black;
}

svg.graph-interests text.vertical-line-label {
  text-anchor: middle;
  fill: black;
  text-decoration: underline;
  /* text-underline-offset: 10px; */
}




svg.graph-genres .arc {
  fill-opacity: 0.6;
}

svg.graph-genres .arc.active {
  fill-opacity: 0.6;
}

svg.graph-genres .arc.inactive {
  fill-opacity: 0.3;
}

svg.graph-genres .arc.hidden {
  fill-opacity: 0;
}




svg.graph-vowels .outline {
  stroke: var(--color-off-black);
  stroke-width: 2px;
  fill: none;
  user-select: none;
  pointer-events: none;
}

svg.graph-vowels .outline-outer {
  stroke-width: 1px;
  fill: none;
}

svg.graph-vowels .grid {
  stroke: #ddd;
  stroke-width: 1px;
  fill: none;
  user-select: none;
  pointer-events: none;
}

svg.graph-vowels text.label {
  fill: var(--color-gray);
  font-size: 1.2em;
  user-select: none;
  pointer-events: none;
}

svg.graph-vowels text.vowel {
  transition: font-size 100ms cubic-bezier(.36,.68,.46,1.45);
  font-family: var(--font-mono);
  fill: var(--color-secondary-2);
  paint-order: stroke;
  stroke:       white;
  stroke-width: 2px;
  user-select: none;
  pointer-events: none;
}

svg.graph-vowels text.vowel.active {
  fill: var(--color-primary-2);
  font-size: 1.25em;
}

svg.graph-vowels .cursor-line {
  stroke: var(--color-primary-1);
  stroke-width: 1;
  pointer-events: none;
}

svg.graph-vowels .cursor-line.disabled {
  stroke: gray;
}

svg.graph-vowels .spectrum-window .formant-line {
  stroke: var(--color-primary-2);
  stroke-width: 2;
}



.help-section-button {
  text-align: center;
}

.help-section-button:not(.collapsed) {
  color: var(--color-primary);
  font-weight: bold;
}

.help-section-button.open::after {
  content: "(Open)";
  display: block;
  font-size: 0.75em;
  margin-top: 0.2em;
}
