/* Container */

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

@media(max-width: 1400px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Card */

.blog-card {
  background-color: white;
  margin: 8px 0;
  border-radius: 6px;
  overflow: hidden;

  border:  var(--card-outline-inner);
  outline: var(--card-outline-outer);
  outline-offset: var(--card-outline-space);
}


/* Card Title */

.blog-title-container {
  position: relative;
  z-index: 2;
}

.blog-subtitle {
  color: var(--color-secondary-4);
}

.blog-subtitle:hover {
  color: var(--color-secondary-1);
}


/* Category Card */

.blog-category-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.post-description {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
