.btn-custom {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-secondary-3);
  --bs-btn-border-color: var(--color-secondary-3);

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-primary-2);
  --bs-btn-hover-border-color: var(--color-primary-2);

  --bs-btn-focus-shadow-rgb: 66,70,73;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-primary-1);
  --bs-btn-active-border-color: var(--color-primary-1);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--color-secondary-4);
  --bs-btn-disabled-border-color: var(--color-secondary-4);
}

.btn-clear {
  --bs-btn-color: var(--color-primary-4);
  --bs-badge-color: var(--color-primary-4);
  --bs-btn-bg: white;
  --bs-btn-border-color: var(--color-primary-4);

  --bs-btn-hover-color: var(--color-primary-2);
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: var(--color-primary-2);

  --bs-btn-focus-shadow-rgb: 66,70,73;

  --bs-btn-active-color: var(--color-primary);
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: var(--color-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: var(--color-primary-4);
  --bs-btn-disabled-bg: var(--color-primary-4);
  --bs-btn-disabled-border-color: var(--color-primary-4);
}


.btn-gradient-hover {
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);
}

.btn-gradient-hover:hover {
  background-image: var(--color-gradient);
}



/* Range slider input
  Adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp
*/

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--color-primary);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--color-primary-3);
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--color-primary);
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  background: var(--color-primary-3);
}



/* Toggle Buttons */

.toggle-button {
  --c: var(--bs-heading-color);
  color: var(--c);

  display: block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;

  text-decoration: none;
  font-family: var(--font-body-ltn);
  text-align: center;
  transition: background 0.1s ease-in-out,
              transform 150ms ease,
              color 0.1s, border 0.1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 10;

  background: white;
}

.toggle-button:hover {
  --c: var(--color-primary-3);
  font-weight: bold;
}

.toggle-button.selected, .toggle-button.active {
  --c: var(--color-primary);
}

.toggle-button.selected:hover, .toggle-button.active:hover {
  --c: var(--color-primary-4);
}


.toggle-button > div {
  position: relative;
  text-shadow:
    -0.5px -0.5px 0 var(--color-bg-body-light),
     0.5px -0.5px 0 var(--color-bg-body-light),
    -0.5px  0.5px 0 var(--color-bg-body-light),
     0.5px  0.5px 0 var(--color-bg-body-light);
}

.toggle-button > div::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  border-top: 1.5px solid var(--c);
  border-bottom: 1px solid var(--c);
  height: 3px;
  transform: scaleX(0);
  z-index: -1;

  transition: transform 0.1s, border-color 0.1s;
}

.toggle-button.selected > div::after {
  transform: scaleX(1);
}


.desc-button {
  cursor: pointer;
  float: right;
  margin-left: 4px;
}

.desc-button-bg {
  fill: var(--color-secondary-4);
}

.desc-button-bg:hover {
  fill: var(--color-secondary-2);
}

.desc-button-bg-overlay {
  fill: rgba(0, 0, 0, 0.3);
}

.desc-button-bg-overlay:hover {
  fill: rgba(0, 0, 0, 0.55);
}



/* Open/Close Buttons */

.open-close-btn {
  transition: transform 200ms cubic-bezier(.36,.68,.46,1.45);
  user-select: none;
}

.open-close-btn.active {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
