svg.proficiencies .border-inner {
  stroke:       var(--color-off-black);
  stroke-width: 1px;
  fill:         none;
}

svg.proficiencies .border-outer {
  stroke:       var(--color-off-black);
  stroke-width: 0.5px;
  fill:         none;
}

svg.proficiencies .grid {
  stroke:       lightgray;
  stroke-width: 0.5px;
  fill:         none;
}

svg.proficiencies .plot {
  stroke:       var(--color-primary);
  stroke-width: 0.5px;
  fill:         var(--color-primary-1);
  fill-opacity: 0.25;
}

svg.proficiencies .label-text text {
  fill: var(--color-off-black);
  transition: all 75ms ease;
  font-family: var(--font-head);
}

svg.proficiencies .label-text:hover text {
  fill: var(--color-primary);
  font-size: 1.2em;
  font-weight: bold;
}



.proficiency-chart-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: var(--bs-card-bg);
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease;
  overflow-y: scroll;

  user-select: none;
  pointer-events: none;
}

.proficiency-chart-overlay.active {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}


.proficiency-chart-overlay h6 {
  font-size: 1em;
}

