/* General timeline block */

.timeline-block {
  --timeline-border-radius: 20px;
  --timeline-border-color: rgb(33, 37, 41);
  --timeline-border-gap: 1.5px;

  --timeline-border-inner-width: 2px;
  --timeline-border-inner: var(--timeline-border-inner-width) solid var(--timeline-border-color);

  --timeline-border-outer-width: 1px;
  --timeline-border-outer: var(--timeline-border-outer-width) solid var(--timeline-border-color);

  --timeline-border-label-width: 2px;
  --timeline-border-label: var(--timeline-border-label-width) solid var(--timeline-border-color);

  --icon-size-sm: 16px;
  --icon-size-lg: 42px;

  border-top:    var(--timeline-border-inner);
  border-bottom: var(--timeline-border-inner);
  border-radius: var(--timeline-border-radius);

  margin-top: calc(-1 * var(--timeline-border-inner-width));
  padding: 0 calc(var(--timeline-border-radius) - var(--timeline-border-inner-width));

  position: relative;
}


/* Special styling for first & last block */

.timeline-block:first-of-type {
  border-top: var(--timeline-border-inner-width) solid;
  border-color: transparent;

  background: var(--color-bg-body-light);
  background-clip: padding-box;
  position: relative;
}

.timeline-block:first-of-type::after {
  position: absolute;
  top:    calc(-1 * var(--timeline-border-inner-width));
  bottom: calc(-1 * var(--timeline-border-inner-width));
  left:   calc(-1 * var(--timeline-border-inner-width));
  right:  calc(-1 * var(--timeline-border-inner-width));
  background: linear-gradient(to left, transparent, transparent 50%, var(--timeline-border-color) 50%);
  content: '';
  z-index: -1;
  border-radius: var(--timeline-border-radius);
}

.timeline-block:last-of-type {
  border-bottom: none;
  border-bottom-left-radius:  0px;
  border-bottom-right-radius: 0px;
}


/* Block labels */

.timeline-block-label-container {
  position: relative;
  transform: translateY(calc(-50% - ((16px) / 2)));
}

.timeline-block-label {
  width: fit-content;
  border: var(--timeline-border-label);
  border-radius: 10px;
  outline: var(--timeline-border-outer);
  outline-offset: var(--timeline-border-gap);

  position: relative;
  background: white;
}


/* Left & right timeline blocks */

/* Left */
.timeline-block:nth-of-type(odd) {
  border-left: var(--timeline-border-inner);
  border-top-right-radius:    0px;
  border-bottom-right-radius: 0px;

  margin-right: var(--timeline-border-radius);
  padding-right: calc(-1 * var(--timeline-border-radius));
}

/* Right */
.timeline-block:nth-of-type(even) {
  border-right: var(--timeline-border-inner);
  border-top-left-radius:    0px;
  border-bottom-left-radius: 0px;

  margin-left:  var(--timeline-border-radius);
  padding-left: calc(-1 * var(--timeline-border-radius));
}



/* Entry dots */

.timeline-entry {
  --bg-url: none;
  --bg-color: white;
  --size: var(--icon-size-sm);
}

.timeline-entry::before {
  --offset: calc(-1rem - var(--timeline-border-radius) - (var(--size) / 2) + 0.25px);

  content: "";
  position: absolute;
  border: var(--timeline-border-inner);
  height: var(--size);
  width:  var(--size);
  border-radius: calc(var(--size) / 2);
  background: var(--bg-color);
  background-image: var( --bg-url );
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  top: 2rem;
  transform: translateY(-50%);

  outline: var(--timeline-border-outer);
  outline-offset: var(--timeline-border-gap);
}

.timeline-block:nth-of-type(odd) .timeline-entry::before {
  left: var(--offset);
}

.timeline-block:nth-of-type(even) .timeline-entry::before {
  right: var(--offset);
}


/* Bottom cap */

.timeline-block:last-of-type::after {
  content: "";
  position: absolute;

  width:  var(--icon-size-sm);
  height: calc(var(--timeline-border-outer-width) + var(--timeline-border-inner-width) + var(--timeline-border-gap));
  border-top:    var(--timeline-border-inner);
  border-bottom: var(--timeline-border-outer);
  bottom: calc(-1 * (var(--timeline-border-outer-width) + var(--timeline-border-gap)));
}

.timeline-block:last-of-type:nth-of-type(odd)::after {
  left: 0;
  transform: translateX(calc(-50% - 1px));
}

.timeline-block:last-of-type:nth-of-type(even)::after {
  right: 0;
  transform: translateX(calc(50% + 1px));
}
