/* General timeline block */

.timeline-block {
  --timeline-border-width: 2px;
  --timeline-border-radius: 20px;
  --timeline-border: var(--timeline-border-width) solid rgb(33, 37, 41);
  --timeline-label-border-width: 2px;
  --timeline-label-border: var(--timeline-label-border-width) solid rgb(33, 37, 41);

  border-top:    var(--timeline-border);
  border-bottom: var(--timeline-border);
  border-radius: var(--timeline-border-radius);

  margin-top: calc(-1 * var(--timeline-border-width));
  padding: 0 calc(var(--timeline-border-radius) - var(--timeline-border-width));
}


/* Special styling for first & last block */

.timeline-block:nth-of-type(1) {
  border-top: none;
  border-top-left-radius:  0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
  padding-top: 4px;
}


.timeline-block:last-of-type {
  border-bottom: none;
  border-bottom-left-radius:  0px;
  border-bottom-right-radius: 0px;
}

.timeline-block-label-container {
  position: relative;
  transform: translateY(calc(-50% - ((16px) / 2)));
}

.timeline-block-label {
  width: fit-content;
  border: var(--timeline-label-border);
  border-radius: 10px;
  outline: 1px solid black;
  outline-offset: 1.5px;

  position: relative;
  background: white;
}


/* Left & right timeline blocks */

/* Left */
.timeline-block:nth-of-type(odd) {
  border-left: var(--timeline-border);
  border-top-right-radius:    0px;
  border-bottom-right-radius: 0px;

  margin-right: var(--timeline-border-radius);
  padding-right: calc(-1 * var(--timeline-border-radius));
}

/* Right */
.timeline-block:nth-of-type(even) {
  border-right: var(--timeline-border);
  border-top-left-radius:    0px;
  border-bottom-left-radius: 0px;

  margin-left:  var(--timeline-border-radius);
  padding-left: calc(-1 * var(--timeline-border-radius));
}



/* Entry dots */

.timeline-entry {
  --bg-url: none;
  --bg-color: white;

  --size-sm: 16px;
  --size-lg: 42px;
  --size: var(--size-sm);
}

.timeline-entry::before {
  --offset: calc(-1rem - var(--timeline-border-radius) - (var(--size) / 2) + 0.25px);

  content: "";
  position: absolute;
  border: var(--timeline-border);
  height: var(--size);
  width:  var(--size);
  border-radius: calc(var(--size) / 2);
  background: var(--bg-color);
  background-image: var( --bg-url );
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  top: 2rem;
  transform: translateY(-50%);

  outline: 1px solid black;
  outline-offset: 1.5px;
}

.timeline-block:nth-of-type(odd) .timeline-entry::before {
  left: var(--offset);
}

.timeline-block:nth-of-type(even) .timeline-entry::before {
  right: var(--offset);
}

