{%- macro set_lang(l) -%}
lang="{{l}}" data-lang="{{l}}"{% if lang and lang != l %} class="hide"{% endif %}
{%- endmacro -%}

{% macro render_searchbar(id=none, oninput=none) %}
  <input
    id="{{id}}"
    type="text"
    {% if oninput %}oninput="{{ oninput }}(this.value)"{% endif %}
  >

  <script>
    const placeholder_texts = {
      'en': 'Search',
      'ja': '検索',
      'tj': 'Vlanu',
    }

    document.addEventListener('set-language', ({detail}) => {
      document.getElementById('{{id}}').placeholder = placeholder_texts[detail.language] + '...';
    });
  </script>
{% endmacro %}
