{%- macro set_lang(l) -%}
lang="{{l}}" data-lang="{{l}}"{% if lang and lang != l %} class="hide"{% endif %}
{%- endmacro -%}


{% macro render_lang_select_button(l) %}
<button id="button-{{l.code}}" class="lang-button" lang="{{l.code}}" onclick="set_language('{{l.code}}')">
  <div>{{l.name}}</div>
</button>
{% endmacro %}


{% macro render_searchbar_label(id, label) %}
  {% if label is mapping %}
    <label for="{{id}}">
    {% for l, t in label.items() %}
      <span {{ set_lang(l) }}>{{ t }}</span>
    {% endfor %}
    </label>
  {% elif label %}
    <label for="{{id}}">{{label}}</label>
  {% endif %}
{% endmacro %}


{% macro render_searchbar(id=none, oninput=none, label=none, class='') %}
  <div class="searchbar-container {{class}}">
    <input
      id="{{id}}"
      type="text"
      title=""
      required
      {% if oninput %}oninput="{{ oninput }}(this.value)"{% endif %}
    >
    {{ render_searchbar_label(id, label) }}
  </div>
{% endmacro %}


{% macro render_searchbar_tags(id=none, oninput=none, label=none, class='', tags=none) %}
  {{ render_searchbar(id=id, oninput=oninput, label=label, class=class ) }}

  <div id="search-options-{{id}}" class="collapse multi-collapse" style="transform: translateY(-3px);">
    <div class="card rounded-top-0">
      <div class="card-body text-start">
        <button type="button" class="btn-close" aria-label="Clear" onclick="remove_tag()"></button>
        <br />
        {% for tag in tags %}
          <button class="btn badge btn-custom" onclick="add_tag('{{ tag.id }}');">
            <span {{set_lang("en")}}>{{ tag.name_en }}</span>
            <span {{set_lang("ja")}}>{{ tag.name_ja }}</span>
            <span {{set_lang("tj")}}>{{ tag.name_tj }}</span>
          </button>
        {% endfor %}
      </div>
    </div>
  </div>

  <script>
    let input_el = document.getElementById('{{id}}');
    input_el.parentElement.appendChild(document.getElementById('search-options-{{id}}'));

    input_el.setAttribute('data-bs-toggle', 'collapse')
    input_el.setAttribute('data-bs-target', "#search-options-{{id}}")
    input_el.style.position = 'relative';
    input_el.style.zIndex   = '10';

    let tag_selection = [];

    function add_tag(tag) {
      tag_selection.push(tag);
      {{ oninput }}(tag_selection);
    }

    function remove_tag(tag) {
      if (tag) {
        tag_selection = tag_selection.filter((val) => val !== tag);
      }
      else {
        tag_selection = [];
      }
      {{ oninput }}(tag_selection);
    }
  </script>
{% endmacro %}
