{%- if not quick_links_gap %}
{%- set quick_links_gap = "3" %}
{%- endif %}

<span class="d-flex flex-wrap justify-content-center gap-{{ quick_links_gap }}">
  <a title="Download résumé" class="underline-hover-text" href="#">
    {{ render_lang_object(config.TEXT['sidebar.resume']) }}
    <span class="material-symbols-outlined material-symbols-inline">download</span>
    <div class="underline-hover" style="--underline-offset: -1px;"></div>
  </a>
  <small class="separator">⬦</small>
  <a title="Send email to connect@vlagrassa.dev" class="underline-hover-text" href="mailto:connect@vlagrassa.dev">
    {{ render_lang_object(config.TEXT['sidebar.contact']) }}
    <span class="material-symbols-outlined material-symbols-inline" style="line-height: 0.9em;">outgoing_mail</span>
    <div class="underline-hover" style="--underline-offset: -1px;"></div>
  </a>
</span>
