/* Container */

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}

@media(max-width: 1200px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Card */

.blog-card-bs {
  background-color: white;
  margin: 8px 0;
  border-radius: 6px;
  overflow: hidden;

  border:  var(--card-outline-inner);
  outline: var(--card-outline-outer);
  outline-offset: var(--card-outline-space);
}


/* Card Title */

.blog-title-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.blog-title-container:hover {
  color: var(--color-primary);
}

.blog-title-underline {
  border-top: 1.5px solid var(--color-primary);
  border-bottom: 0.75px solid var(--color-primary);
  height: 0.75px;
  width: 100%;
  transition: transform 0.1s;
  transform: translate(0%, -3px) scaleX(0);
  z-index: -10;
  position: absolute;
  box-sizing: content-box;
}

.blog-title-container:hover .blog-title-underline {
  transform: translate(0%, -3px) scaleX(1);
}

.outline {
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}
