.searchbar-container {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.searchbar-container > label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.1s;
  transition-timing-function: cubic-bezier(0.3, 0.2, 0.2, 1.4);
  z-index: 10;
  background: white;
  margin-top: 9px;
  margin-left: 8px;
  padding: 0 2px;
  color: gray;
  cursor: text;
  user-select: none;
}

.searchbar-container > .searchbar,
.searchbar-container > input {
  background-image: none;
  padding: 8px;
  width: 100%;
  border-radius: 4px;

  border: 1px solid gray;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.searchbar:focus-within,
.searchbar-container > input:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.searchbar:focus-within + label,
.searchbar-container > input:focus + label, .searchbar-container > input:valid:focus + label {
  transform: translateY(-1.1em) scale(0.8);
  color: var(--color-secondary);
  font-weight: bold;
  background: white;
}

input:valid + label {
  color: transparent;
  background: transparent;
}


.searchbar-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;

  width: 100%;
  position: relative;
  z-index: 10;
  background-color: white;
}

.input-tags {
  width: 100%;
  display: inline-block;
  padding: 0px;
  border: none;
  outline: none;

  flex: 1;
  flex-grow: 1;
  min-width: 3em;
}
