@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&family=Kanit&family=Montserrat:wght@400&family=Zen+Kaku+Gothic+New:wght@400&display=swap');



/* Fonts */

@font-face {
    font-family: 'Montserrat Tj';
    src: url('fonts/Montserrat-Tj-Regular.ttf');
}

@font-face {
    font-family: 'Kanit Tj';
    src: url('fonts/Kanit-Tj-Regular.ttf');
}

/* Overwrite Japanese body font face to render Roman characters in Roman font */
@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('fonts/Montserrat-Tj-Regular.ttf');
    unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}



/* Base Properties */

:root {
    /* Primary color: Magenta */
    --color-primary:     #9F234F;
    --color-primary-1:   #E26692;
    --color-primary-2:   #C0406D;
    --color-primary-3:   #760D32;
    --color-primary-4:   #3D0016;

    /* Secondary color: Cyan */
    --color-secondary:   #1D5C71;
    --color-secondary-1: #4E90A6;
    --color-secondary-2: #317389;
    --color-secondary-3: #0C4254;
    --color-secondary-4: #01212C;

    /* Tertiary color: Gold */
    --color-tertiary:    #B5AA28;
    --color-tertiary-1:  #FFF473;
    --color-tertiary-2:  #DBCF49;
    --color-tertiary-3:  #867D0E;
    --color-tertiary-4:  #464000;


    /* Misc Colors */
    --color-link-plain: var(--color-secondary-2);
    --color-link-hover: var(--color-tertiary-3);

    --color-header-border: var(--color-secondary-4);

    --color-select-bg: var(--color-tertiary-2);
    --color-select-txt: white;

    --color-bg-head-light: white;
    --color-bg-body-light: #F8F8F8;

    --logo-line-thickness: 0.08em;

    --color-gradient: linear-gradient(
        0deg,
        var(--color-secondary) 0%,
        var(--color-secondary) 20%,
        /* black 40%, */
        var(--color-primary) 60%,
        var(--color-primary) 100%
    );

    /* Define header font to fall back on Japanese font */
    --font-head: 'Kanit Tj', 'Kanit', 'BIZ UDGothic', serif;

    /* Define separate body fonts for the two scripts */
    /* This might not be necessary - would a solution like above work? */
    --font-body-ltn: 'Montserrat Tj', 'Montserrat', sans-serif;
    --font-body-jpn: 'Zen Kaku Gothic New', sans-serif;


    --header-outline-color: var(--color-secondary-4);
    --header-outline-inner: 3px solid var(--header-outline-color);
    --header-outline-outer: 1px solid var(--header-outline-color);
    --header-outline-space: 4.5px;

    --panel-outline-color: black;
    --panel-outline-inner: 1.75px solid var(--panel-outline-color);
    --panel-outline-outer: 1.25px solid var(--panel-outline-color);
    --panel-outline-space: 1.25px;

    --card-outline-color: black;
    --card-outline-inner: 1.5px solid var(--card-outline-color);
    --card-outline-outer: 1.0px solid var(--card-outline-color);
    --card-outline-space: 1px;



    --underline-bg-color: white;
    --underline-offset: -3px;
    --underline-color: var(--color-primary);
    --underline-inner: 1.50px solid var(--underline-color);
    --underline-outer: 0.75px solid var(--underline-color);
    --underline-space: 0.75px;

    --scrollbar-width: 12px;
}


::selection {
    background: var(--color-select-bg);
    color: var(--color-select-txt);
    -webkit-text-fill-color: var(--color-select-txt);
    text-shadow: none;
}



/* Layout */

html {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: var(--font-body-ltn);
    background-color: var(--color-bg-body-light);
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-head);
    line-height: 1.5em;
    font-weight: 700;
}

h5, h6 {
    line-height: 1.2em;
}

div {
    line-height: 1.2em;
}

/* Make sure header font is used in header, even if language is marked as Japanese */
h1[lang="ja"],  h2[lang="ja"],  h3[lang="ja"],  h4[lang="ja"],  h5[lang="ja"],  h6[lang="ja"],
h1 [lang="ja"], h2 [lang="ja"], h3 [lang="ja"], h4 [lang="ja"], h5 [lang="ja"], h6 [lang="ja"] {
    font-family: var(--font-head);
}

.font-ja, .font-jpn, [lang="ja"] {
    font-family: var(--font-body-jpn);
}

.font-en, .font-tj, .font-ltn {
    font-family: var(--font-body-ltn);
}

.hide {
    visibility: hidden;
    display: none;
}

h1 {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2.75em;
}



/* Footer */

#footer {
    position: fixed;
    bottom: 0;
    user-select: none;
    padding: 10px 10px;
    font-size: 0;
}

.footer-h {}

.footer-v {}

.footer-icon {
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s;
}

.footer-h .footer-icon {
    padding: 0px 2px;
    display: inline-block;
}

.footer-v .footer-icon {
    padding: 2px 0px;
    display: block;
}

.footer-h .footer-icon-container {
    position: relative;
    display: inline-block;
}

.footer-v .footer-icon-container {
    position: relative;
    display: block;
}

.footer-icon:hover {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icon-container-offscreen {
    z-index: -1;
}

.footer-h .footer-icon-offscreen {
    transform: translateY(36px);
    z-index: -1;
}

.footer-v .footer-icon-offscreen {
    transform: translateX(-36px);
    z-index: -1;
}

.offcanvas-footer-menu {
    --bs-offcanvas-height: auto;
    width: 160px;
    left: 10px !important;

    --bs-offcanvas-border-width: 2px;
    --bs-offcanvas-border-color: black;
    border: 2px solid black;
    border-bottom: none;
    outline: 1px solid black;
    outline-offset: 1.5px;
}

.hover-rotate-45 {
    transition: transform 0.1s;
}
.hover-rotate-45:hover {
    transform: rotate(45deg);
}

.hover-rotate-60 {
    transition: transform 0.1s;
}
.hover-rotate-60:hover {
    transform: rotate(60deg);
}

.hover-rotate-90-m {
    transition: transform 0.1s;
}
.hover-rotate-90-m:hover {
    transform: rotate(-90deg);
}



/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    margin-top: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--header-outline-color);
    border-radius: 4px;
    outline: 1px solid var(--color-bg-body-light);
    outline-offset: -2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-2);
}



/* Links */

a {
    color: inherit;
    text-decoration: inherit;
}

a.link {
    display: inline-block;
    position: relative;
    color: var(--color-link-plain);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2.5px;
}

a.link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--color-link-plain);
    box-sizing: initial;
}

a.link:hover, a.link:focus {
    color: var(--color-link-hover);
    border-radius: 2px;
}

a.link:hover::after, a.link:focus::after {
    border-bottom-color: var(--color-link-hover);
}



/* Logo */

.my-logo {
    position: relative;
    z-index: 10;
    font-family: var(--font-head);

    margin-block-start: 0;
    margin-block-end:   0;

    width: fit-content;
    background: linear-gradient(
        0deg,
        var(--color-secondary-1) 0%,
        var(--color-secondary-3) 30%,
        black 40%,
        var(--color-primary-3) 50%,
        var(--color-primary-1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: underline;
    text-decoration-thickness: var(--logo-line-thickness);
    text-underline-offset: 0.1em;
    text-decoration-color: var(--color-secondary);

    transform: translateY(-0.08em);
}

.my-logo::before {
    content: "v";
    position: absolute;
    z-index: -1;
    top: 0.4em;
    border-top: var(--logo-line-thickness) solid var(--color-primary);
}

.my-logo::after {
    content: "ɒgrɒssɒ";
    position: absolute;
    z-index: -1;
    top: 0.4em;
    right: 0;
    border-top: var(--logo-line-thickness) solid var(--color-primary);
}



/* Double Underline */

.double-underline {
    display: inline-block;
    position: relative;
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2.5px;
}

.double-underline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--color-primary);
    box-sizing: initial;
}

.underline-hover-text {
    z-index: 10;
    width: fit-content;
    position: relative;
    text-shadow:
        -1px -1px 0 var(--color-bg-body-light),
         1px -1px 0 var(--color-bg-body-light),
        -1px  1px 0 var(--color-bg-body-light),
         1px  1px 0 var(--color-bg-body-light);
}

/* TODO: To allow underline color to be overwritten, need to define underline-inner and underline-outer here */
.underline-hover {
    border-top:    var(--underline-inner);
    border-bottom: var(--underline-outer);
    height:        var(--underline-space);
    width: 100%;
    transition: transform 0.1s;
    transform: translate(0%, var(--underline-offset)) scaleX(0);
    z-index: -10;
    position: absolute;
    box-sizing: content-box;
}

.underline-hover-text:hover {
    color: var(--underline-color);
}

.underline-hover-text:hover .underline-hover {
    transform: translate(0%, var(--underline-offset)) scaleX(1);
}



/* Header */

.header-button {
    transition: color 0.1s, transform 0.1s;
    cursor: pointer;
    transform: translateY(2px);
    font-family: var(--font-body-ltn);
}

.header-button > a {
    color: inherit;
    text-decoration: inherit;
}

.header-button:hover {
    color: var(--color-primary);
    transform: scale(1.1) translateY(2px);
    font-weight: bold;
}

.header-button-underline {
    border-top: 1.5px solid var(--color-primary);
    border-bottom: 0.75px solid var(--color-primary);
    height: 2.75px;
    width: 100%;
    transition: transform 0.1s;
    transform: translateX(0%) translateY(-1.5px) scaleX(0);
}

.header-button:hover .header-button-underline {
    transform: translateX(0%) translateY(-1.5px) scaleX(1);
}


.header-separator {
    margin: 0px 25px;
    cursor: default;
    color: var(--color-secondary-4);
    user-select: none;
}

#header {
    z-index: 10;
    flex: 0 1 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-top:    4px solid var(--color-primary-3);
    border-bottom: var(--header-outline-inner);
    padding: 0px 20px;

    background-color: var(--color-bg-head-light);
}

#header::before {
    content: "";
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    border-top: 2px solid var(--color-secondary);
    z-index: 10;
}

#header::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: calc(-1 * var(--header-outline-space));
    left: 0;
    border-bottom: var(--header-outline-outer);
    z-index: 10;
}

.header-left {}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    #nav-inner {
        justify-content: space-evenly;
    }
    .header-middle {
      flex: 0 0 100%;
      order: 2;
      margin-bottom: 10px;
    }
  }



/* Big Image */

.big-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}

.big-image-overlay {
    width: 80%;
    padding-top: 1.33em;
    padding-bottom: 1.66em;
    backdrop-filter: blur(3px) contrast(0.4) saturate(2) brightness(1.4);
    border-radius: 5px;
}

.big-image::after {
    content: "";
    height: 5px;
    border-top:    1px solid var(--color-header-border);
    border-bottom: 3px solid var(--color-header-border);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}



/* Panel Layout */

.panel {
    background-color: var(--color-bg-head-light);
    border-radius: 8px;
    margin: 0px 3px;

    border:  var(--panel-outline-inner);
    outline: var(--panel-outline-outer);
    outline-offset: var(--panel-outline-space);
}

.panel-left {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 15px;
}

.panel-center {
    overflow-y: scroll;
    height: 100%;
    padding: 30px 15px 30px 15px;
}

.panel-right {
}


.slice {
    height: 50px;
    width: var(--w);
    clip-path: polygon(0% 100%, 10px 0%, 100% 0%, calc(var(--w) - 10px) 100%);
    margin: 0px -3px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.4s, clip-path 0.4s;

    filter: saturate(25%);
    user-select: none;
}

.slice:focus, .slice:hover {
    filter: saturate(1);
}



.lang-button {
    display: block;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;

    text-decoration: none;
    font-family: var(--font-body-ltn);
    font-size: 0.7rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.1s ease-in-out,
                transform 150ms ease,
                color 0.1s, border 0.1s;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: white;
    color: black;
}

.lang-button:hover {
    filter: brightness(92%);
}

.lang-button:focus {
    outline-offset: -6px;
}

.lang-button:focus, .lang-button:active {
    filter: brightness(88%);
}

.lang-button:focus > div, .lang-button:active > div {
    transition: transform 150ms ease;
    transform: scale(0.99);
}

.lang-button.selected {
    --c: var(--color-primary);
    color: var(--c);
    border-right: 3px solid var(--c);
    border-left:  3px solid var(--c);
    /* border-image: var(--color-gradient) 1 100%; */
    font-weight: bold;
}

.lang-button.selected:hover {
    --c: var(--color-primary-4);
}



/* Title */

.header-underbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px auto 20px;
    width: 100%;
    user-select: none;
}

.header-underbar::before {
    content: "";
    width: 30px;
    height: 0px;
    border-top: 1px solid black;
    border-image: linear-gradient(90deg, transparent, black 30%, black) 1;
    transform: translateY(1px);
}

.header-underbar::after {
    content: "";
    width: 30px;
    height: 0px;
    border-top: 1px solid black;
    border-image: linear-gradient(-90deg, transparent, black 30%, black) 1;
    transform: translateY(1px);
}
