@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@400&family=Zen+Kaku+Gothic+New:wght@400&display=swap');


:root {
    --color-primary:   #840032;
    --color-secondary: #3C38B5;
    --color-tertiary:  #CBA135;
    --color-link: #93B7BE;
    --color-header-border: black;

    --logo-line-thickness: 0.08em;

    --font-head-ltn: 'Kanit', sans-serif;
    --font-head-jpn: 'Zen Kaku Gothic New', sans-serif;

    --font-body-ltn: 'Montserrat', sans-serif;
    --font-body-jpn: 'Zen Kaku Gothic New', sans-serif;
}


body {
    margin: 0;
    font-family: var(--font-body-ltn);
}

h1, h2 {
    font-family: var(--font-head-ltn);
}

[lang="ja"] {
    font-family: var(--font-body-jpn);
}

.hide {
    visibility: hidden;
    display: none;
}

h1 {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.my-logo {
    position: relative;
    z-index: 10;
    font-family: var(--font-head-ltn);

    width: fit-content;
    background: linear-gradient(
        0deg,
        var(--color-secondary) 0%,
        var(--color-secondary) 20%,
        var(--color-primary) 60%,
        var(--color-primary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: underline;
    text-decoration-thickness: var(--logo-line-thickness);
    text-underline-offset: 0.1em;
    text-decoration-color: var(--color-secondary);
}

.my-logo::before {
    content: "v";
    position: absolute;
    z-index: -1;
    top: 0.2em;
    border-top: var(--logo-line-thickness) solid var(--color-primary);
}

.my-logo::after {
    content: "agrassa";
    position: absolute;
    z-index: -1;
    top: 0.2em;
    right: 0;
    border-top: var(--logo-line-thickness) solid var(--color-primary);
}

.highlight {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2.5px;
}

.highlight2 {
    text-decoration: underline;
    text-decoration-thickness: 0.75px;
    text-underline-offset: 5px;
}


.header-button {
    transition: color 0.1s, transform 0.1s;
    cursor: pointer;
    transform: translateY(2px);
    font-family: var(--font-body-ltn);
}

.header-button:hover {
    color: var(--color-primary);
    transform: scale(1.1) translateY(2px);
    font-weight: bold;
    /* text-decoration: underline;
    text-underline-offset: 2.5px; */
}

.header-button-underline {
    border-top: 1.5px solid var(--color-primary);
    border-bottom: 0.75px solid var(--color-primary);
    height: 0.75px;
    width: 100%;
    transition: transform 0.1s;
    transform: translateX(0%) scaleX(0);
}

.header-button:hover .header-button-underline {
    transform: translateX(0%) scaleX(1);
}


.header-separator {
    margin: 0px 25px;
    cursor: default;
    color: var(--color-secondary);
}

#nav {
    background-color: white;

    border-top:    1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-header-border);
    margin-bottom: 30px;

    box-shadow: 0px 0px 10px 2px gray;
}

#nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top:    3px solid var(--color-primary);
    border-bottom: 3px solid var(--color-header-border);
    margin-bottom: 1px;
}

.content {
    margin: 12px;
}


.slice {
    --w: 40px;

    display: inline-block;
    height: 54px;
    width: var(--w);
    clip-path: polygon(0% 100%, 10px 0%, 100% 0%, calc(var(--w) - 10px) 100%);
    margin: 0px -3px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.4s, clip-path 0.4s;

    filter: saturate(25%);
}

.slice:hover {
    filter: saturate(1);
}
