{% extends 'base/base.html' %}
{% from '_macros/lang.j2'     import set_lang, render_lang_object with context %}
{% from '_macros/utils.j2'    import render_open_arrow_button %}
{% from '_macros/about-me.j2' import render_basic_info, render_dropdown_panel, render_language_entry, render_vis_choice %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/about-me.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
{% endblock %}


{% block body %}
<div class="mb-5 h-100">
  <div class="row m-0 g-0 h-100">

    <!-- Left Column -->
    <div class="col-3 p-4 pt-2">
      <div class="row">

        <!-- Title -->
        <div id="about-me-title-section" class="d-flex flex-wrap align-items-top my-3">

          <!-- Hex Icon -->
          <div class="hex-container-column flex-grow-1 align-items-center">
            <div class="hex hexicon-border">
              <div
                class="hex hexicon"
                style="background-image: url(/static/images/self-pic.jpg); background-size: cover; object-position: center center; background-position: center center;"
              >
              </div>
            </div>
          </div>
          <!-- Hex Icon -->

          <!-- Name -->
          <div id="about-me-title-container" class="flex-grow-1 text-center pt-2">
            <div>
              <h1 class="pb-2">{{ render_lang_object(title) }}</h1>
              <div class="header-underbar mb-2">&#x2B26;</div>
            </div>
            <div class="flex-grow-1">
              <h2>{{ render_lang_object(config.TEXT['my_name.nickname']) }}</h2>
              <div class="phonetic">{{ render_lang_object(config.TEXT['my_name.ipa']) }}</div>
            </div>
          </div>
          <!-- /Name -->

        </div>
        <!-- /Title -->

        {% include '_includes/quick-links.j2' %}


        {%- call render_dropdown_panel('Qualifications') %}
        {%- endcall %}

        {%- call render_dropdown_panel('Proficiencies') %}
        {%- endcall %}

        {%- call render_dropdown_panel('High Scores') %}
        {%- endcall %}

      </div>
    </div>
    <!-- /Left Column -->

    <!-- Center Column -->
    <div class="col-6 p-4 pt-2 d-flex flex-column h-100">
      <div class="row">

        <!-- Basic Info -->
        <div class="mt-3 col-12">
          <div class="card double-outline title-bottom px-3 py-2">
            <div class="card-body p-0">
              <dl class="mb-0 text-start p-1">
                {{ render_basic_info('Class',      'Software Dev / Linguist') }}
                {{ render_basic_info('Background', 'M.S. Comp Sci') }}
                {{ render_basic_info('Pronouns',   'he / him') }}
                {{ render_basic_info('Level',      'Full-Stack') }}
                {{ render_basic_info('Experience', '5+ years') }}
                {{ render_basic_info('Alignment',  'Vim') }}
              </dl>
            </div>
          </div>
        </div>
      </div>
      <!-- /Basic Info -->

      <!-- Visualization -->
      <div class="card double-outline title-bottom px-3 py-2 mt-3 flex-grow-1" style="height: 10px;">
        <h5 id="vis-header" class="card-title"></h5>
        <div class="card-body p-0 flex-grow-1" style="height: 10px;">
          <div id="vis-container" class="h-100">
            <div class="w-100 h-100 text-center d-flex align-items-center justify-content-center" style="color: gray">
              Choose a visualization below to get started!
            </div>
          </div>
        </div>
      </div>
      <!-- /Visualization -->

      <!-- Visualization Selectors -->
      <div class="row">
        {{ render_vis_choice('Skills',       'skills'   ) }}
        {{ render_vis_choice('Interests',    'interests') }}
        {{ render_vis_choice('Music Genres', 'genres'   ) }}
        {{ render_vis_choice('Vowel Space',  'vowels'   ) }}
      </div>
      <!-- Visualization Selectors -->

    </div>
    <!-- /Center Column -->

    <!-- Right Column -->
    <div class="col-3 p-4 d-flex flex-column h-100">

      <!-- Languages -->
      <div class="card double-outline title-bottom px-3 py-2">
        <h5 class="card-title">Languages</h5>
        <div class="card-body p-0 row">
          <div class="col-6 d-flex justify-content-center">
            <table id="langs-table-0" class="bar-chart-table">
              <tbody>
                {%- for entry in data_languages[:(data_languages | length) // 2] %}
                {{ render_language_entry(entry['label'], entry['value']) }}
                {%- endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <table id="langs-table-1" class="bar-chart-table">
              <tbody>
                {%- for entry in data_languages[(data_languages | length) // 2:] %}
                {{ render_language_entry(entry['label'], entry['value']) }}
                {%- endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /Languages -->

      <!-- Activity -->
      <!-- NOTE: Have to overwrite "height" CSS value for body overflow to work -->
      <div class="card double-outline title-bottom px-3 py-2 mt-3 flex-grow-1" style="height: 10px">
        <h5 class="card-title">Activity Log</h5>
        <div class="card-body p-0 row overflow-y-scroll mx-1 mt-2" style="font-size: 0.65rem;">
          <table>
            <tbody id="recent-activity">
              <tr>
                <td colspan="3" class="p-2">Load More</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /Activity -->

    </div>
    <!-- /Right Column -->

  </div>
</div>
{% endblock %}


{% block script %}

<script>
  function render_graph(name) {
    window.dispatchEvent(new CustomEvent('render-graph', { 'detail': { name } }));
  }
</script>


<!-- Visualizations -->
<script type="module">

  import { JSONResponseCache } from "{{ url_for('static', filename='scripts/cache.js') }}";

  import { graph_svg_skills    } from "{{ url_for('static', filename='scripts/graphs/skills.js')    }}";
  import { graph_svg_interests } from "{{ url_for('static', filename='scripts/graphs/interests.js') }}";
  import { graph_svg_genres    } from "{{ url_for('static', filename='scripts/graphs/genres.js')    }}";
  import { graph_svg_vowels    } from "{{ url_for('static', filename='scripts/graphs/vowels.js')    }}";


  const vis_map = {
    "skills":    graph_svg_skills,
    "interests": graph_svg_interests,
    "genres":    graph_svg_genres,
    "vowels":    graph_svg_vowels,
  };

  const data_cache = new JSONResponseCache({
    "skills":    "{{ url_for('query.get_data_skills')    }}",
    "interests": "{{ url_for('query.get_data_interests') }}",
    "genres":    "{{ url_for('query.get_data_genres')    }}",
    "vowels":    "{{ url_for('query.get_data_vowels')    }}",
  });


  async function render_graph(name) {

    // Look up the rendering function, aborting if name is invalid
    const f = vis_map[name];
    if (!f) return;

    // Retrieve the data for this graph
    const data = await data_cache.get(name);

    f(data);
  };


  window.addEventListener('render-graph', async ({detail}) => {
    render_graph(detail.name);
  });
</script>
<!-- /Visualizations -->


<!-- Recent Activity -->
<script type="module">
  fetch("{{url_for('query.get_recent_activity', n=20)}}").then((resp) => resp.json()).then(async (data) => {
    const parent = document.getElementById('recent-activity');
    data.forEach((item, idx) => {
      render_feed_item(item, idx).forEach((element) => { parent.insertBefore(element, parent.lastElementChild); })
    });
  });

  function render_feed_item(item, idx) {
    const date = new Date(item.date);

    const row_1 = document.createElement('tr');
    row_1.innerHTML = `
      <td class="py-1 px-1">{{render_open_arrow_button('#activity-row-${idx}', 'collapse')}}</td>
      <td class="py-1 pe-2 text-start date-column"><small class="very-small">${ format_date(date) }</small></td>
      <td class="py-1 text-start"><a class="color-only" href="${ item.name_link }">${ item.name }</a></td>
    `;

    const row_2 = document.createElement('tr');
    row_2.innerHTML = `
      <td colspan="3">
        <div id="activity-row-${idx}" class="collapse">
          <div class="p-2">Posted in ${item.kind}</div>
        </div>
      </td>
    `;

    return [row_1, row_2];
  }

  function format_date(date) {
    return `${date.getFullYear()}-${(date.getMonth()+1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
  }
</script>
<!-- /Recent Activity -->

{% endblock %}
