{% extends 'base/base.html' %}
{% from '_macros/lang.j2'     import set_lang, render_lang_object with context %}
{% from '_macros/utils.j2'    import render_toggle_button_arrow %}
{% from '_macros/about-me.j2' import
    render_dropdown_panel,
    render_qualification,
    render_language_entry,
    render_human_language_entry,
    render_vis_choice,
    render_big_number,
    render_help_button,
    render_help_section,
    render_basic_info
    with context
%}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/about-me.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
{% endblock %}


{% block body %}
<div class="mb-5 h-100">
  <div class="row p-4 gy-0 gx-4 h-100">

    <!-- Left Column -->
    <div class="col-3">
      <div class="row">

        <!-- Title -->
        <div id="about-me-title-section" class="d-flex flex-wrap align-items-top">

          <!-- Hex Icon -->
          <div class="hex-container-column flex-grow-1 align-items-center">
            <div class="hex hexicon-border">
              <div
                class="hex hexicon"
                style="background-image: url(/static/images/self-pic.jpg); background-size: cover; object-position: center center; background-position: center center; cursor: auto;"
              >
              </div>
            </div>
          </div>
          <!-- Hex Icon -->

          <!-- Name -->
          <div id="about-me-title-container" class="flex-grow-1 text-center pt-2">
            <div>
              <h1 class="pb-2 fs-6">{{ render_lang_object(title) }}</h1>
              <div class="header-underbar mb-2">&#x2B26;</div>
            </div>
            <div class="flex-grow-1">
              <h2>{{ render_lang_object(config.TEXT['my_name.nickname']) }}</h2>
              <div class="phonetic">{{ render_lang_object(config.TEXT['my_name.ipa']) }}</div>
            </div>

            <div class="d-none d-xxl-block mt-4">
              {%- with quick_links_gap = "2" %}
              {% include '_includes/quick-links.j2' %}
              {%- endwith %}
            </div>
          </div>
          <!-- /Name -->

        </div>
        <!-- /Title -->

        <div class="d-block d-xxl-none mt-3">
          {% include '_includes/quick-links.j2' %}
        </div>

        <!-- Dropdown Panels -->
        <div id="dropdown-panel-container">

          {%- call render_dropdown_panel('Qualifications', start_open=(initial_tab=='qualifications')) %}
            <div class="w-100 pt-2 px-2">
              <dl>
                {{ render_qualification(
                  "Master of Science, Computer Science",
                  "The University of Chicago", "2022"
                ) }}
                {{ render_qualification(
                  "Bachelor of Arts, Linguistics",
                  "The University of Chicago", "2022"
                ) }}
              </dl>
            </div>
          {%- endcall %}

          {%- call render_dropdown_panel('Proficiencies', start_open=(initial_tab=='proficiencies')) %}
          {%- endcall %}

          {%- call render_dropdown_panel('High Scores', start_open=(initial_tab=='scores')) %}
          {%- endcall %}

        </div>
        <!-- /Dropdown Panels -->

      </div>
    </div>
    <!-- /Left Column -->

    <!-- Center Column -->
    <div class="col-6 d-flex flex-column h-100">
      <div class="row">

        <!-- Basic Info -->
        <div class="col-12">
          <div id="basic-info-card" class="card double-outline title-bottom px-3 py-2">
            <div class="card-body p-0">
              <dl class="mb-0 text-start p-1">
                {{ render_basic_info('Class',      'Software Dev / Linguist') }}
                {{ render_basic_info('Background', 'M.S. Comp Sci') }}
                {{ render_basic_info('Pronouns',   'he / him') }}
                {{ render_basic_info('Level',      'Full-Stack') }}
                {{ render_basic_info('Experience', '5+ years') }}
                {{ render_basic_info('Alignment',  'Vim') }}
              </dl>
            </div>
          </div>
        </div>
      </div>
      <!-- /Basic Info -->

      <!-- Visualization -->
      <div class="card double-outline title-bottom px-3 py-2 mt-3 flex-grow-1" style="height: 10px;">
        <h5 id="vis-header" class="card-title"></h5>
        <div class="card-body p-0 flex-grow-1" style="height: 10px;">
          <div id="vis-container" class="h-100">
            <div class="w-100 h-100 text-center d-flex align-items-center justify-content-center" style="color: gray">
              Choose a visualization below to get started!
            </div>
          </div>
        </div>
        <div style="position: absolute; top: 8px; right: 8px;">
          <svg class="desc-button" tabindex="0" viewBox="0 0 10 10" width="18px" height="18px" data-bs-toggle="modal" data-bs-target="#help">
            {% include '_includes/svg.html' %}
            <circle cx="5" cy="5" r="5" class="desc-button-bg" mask="url(#svg-mask-info)" />
          </svg>
        </div>
      </div>
      <!-- /Visualization -->

      <!-- Visualization Selectors -->
      <div class="row">
        {%- for graph in graphs_doc.sections %}
        {{ render_vis_choice( graph.head, graph.id ) }}
        {%- endfor %}
      </div>
      <!-- Visualization Selectors -->

    </div>
    <!-- /Center Column -->

    <!-- Right Column -->
    <div class="col-3 d-flex flex-column h-100">

      <!-- Languages -->
      <div class="card double-outline title-bottom px-3 py-2">
        <h5 class="card-title">Languages</h5>
        <div class="card-body p-0 row">
          <div class="col-6 d-flex justify-content-center">
            <table id="langs-table-0" class="bar-chart-table">
              <tbody>
                {%- for entry in data_languages[:(data_languages | length) // 2] %}
                {{ render_language_entry(entry['label'], entry['value']) }}
                {%- endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <table id="langs-table-1" class="bar-chart-table">
              <tbody>
                {%- for entry in data_languages[(data_languages | length) // 2:] %}
                {{ render_language_entry(entry['label'], entry['value']) }}
                {%- endfor %}
              </tbody>
            </table>
          </div>
          <div class="mt-2 d-flex flex-wrap column-gap-2 justify-content-center w-100">
            {{ render_human_language_entry( 'English',  'Native'   )}}
            {{ render_human_language_entry( 'Japanese', 'Beginner' )}}
          </div>
        </div>
      </div>
      <!-- /Languages -->

      <!-- Big Numbers -->
      <div class="row d-none d-xxl-flex gx-3">
        {{ render_big_number( 'num-commits', 'Commits' ) }}
        {{ render_big_number( 'num-repos',   'Repos'   ) }}
        {{ render_big_number( 'num-years',   'Years'   ) }}
      </div>
      <!-- /Big Numbers -->

      <!-- Activity -->
      <!-- NOTE: Have to overwrite "height" CSS value for body overflow to work -->
      <div class="card double-outline title-bottom px-3 py-2 mt-3 flex-grow-1" style="height: 10px">
        <h5 class="card-title">Activity Log</h5>
        <div class="card-body p-0 row overflow-y-scroll mx-1 mt-2" style="font-size: 0.65rem;">
          <table>
            <tbody id="recent-activity">
              <tr>
                <td colspan="3" class="p-2">Load More</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /Activity -->

    </div>
    <!-- /Right Column -->

  </div>
</div>


<div class="modal fade" id="help" tabindex="-1" aria-labelledby="helpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="helpLabel">
          {% block help_modal_header %}Help{% endblock %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Use the four buttons at the bottom of the page to select one of the four visualizations:
        </p>
        <ol id="help-button-list" class="d-flex justify-content-around ps-0">
          {%- for graph in graphs_doc.sections %}
          {{ render_help_button( graph.id, graph.head ) }}
          {%- endfor %}
        </ol>
        <p>
          Click on any of the buttons above for more information on that graph.
        </p>

        <div id="help-accordion" class="accordion">

          {%- for section in graphs_doc %}
          {% from '_macros/utils.j2' import render_section with context %}
          {%- call render_help_section( section.id, section.head ) %}
            {{ render_section(section, custom_render=custom_render or none, header_level=5) }}
          {%- endcall %}
          {%- endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}

<script>
  function render_graph(name) {
    window.dispatchEvent(new CustomEvent('render-graph', { 'detail': { name } }));
  }
</script>


<!-- Visualizations -->
<script type="module">

  import { JSONResponseCache } from "{{ url_for('static', filename='scripts/cache.js') }}";

  import { graph_svg_skills    } from "{{ url_for('static', filename='scripts/graphs/skills.js')    }}";
  import { graph_svg_interests } from "{{ url_for('static', filename='scripts/graphs/interests.js') }}";
  import { graph_svg_genres    } from "{{ url_for('static', filename='scripts/graphs/genres.js')    }}";
  import { graph_svg_vowels    } from "{{ url_for('static', filename='scripts/graphs/vowels.js')    }}";


  const vis_map = {
    "skills":    graph_svg_skills,
    "interests": graph_svg_interests,
    "genres":    graph_svg_genres,
    "vowels":    graph_svg_vowels,
  };

  const data_cache = new JSONResponseCache({
    "skills":    "{{ url_for('query.get_data_skills')    }}",
    "interests": "{{ url_for('query.get_data_interests') }}",
    "genres":    "{{ url_for('query.get_data_genres')    }}",
    "vowels":    "{{ url_for('query.get_data_vowels')    }}",
  });


  const show_graph_header_inline = false;


  async function render_graph(name) {

    // Update the buttons to show the new selected graph, ignoring errors
    try {
      Array.from(document.getElementsByClassName(`vis-choice-button`)).forEach((el) => {
        el.classList.toggle('active',   el.dataset.visId === name);
        el.classList.toggle('inactive', el.dataset.visId !== name);
      })
    } catch {}


    // Look up the rendering function, aborting if name is invalid
    const f = vis_map[name];
    if (!f) return;

    // Retrieve the data for this graph
    const data = await data_cache.get(name);

    // Get container element(s) from page
    const parent = document.getElementById('vis-container');
    const header = document.getElementById('vis-header');

    // Create the graph element
    const svg = f(parent, data)

    // Add the graph
    parent.innerHTML = '';
    parent.append(svg.node());

    // Set the header, if applicable
    if (header && show_graph_header_inline) {
      header.innerText = name;
    }

    // Try opening the corresponding section in the help modal,
    // ignoring errors (since it's not *that* important)
    try {
      set_graph_help_modal(name)
    } catch {}

    // Return the data and the graph, to make them available elsewhere
    return {data, svg};
  };

  function set_graph_help_modal(name) {
    Array.from(document.getElementsByClassName('help-section-button')).forEach(el => {
      el.classList.add('collapsed');
      el.classList.remove('open');
    });
    Array.from(document.getElementsByClassName('help-section')).forEach(el => {
      el.classList.remove('show');
    });
    if (name) {
      document.getElementById(`help-button-${name}`).classList.remove('collapsed');
      document.getElementById(`help-button-${name}`).classList.add('open');
      document.getElementById(`help-section-${name}`).classList.add('show');
    }
  };


  window.addEventListener('render-graph', async ({detail}) => {
    render_graph(detail.name);
  });


  {%- if initial_graph %}
  render_graph('{{ initial_graph }}');
  {%- endif %}
</script>
<!-- /Visualizations -->


<!-- Recent Activity -->
<script type="module">
  fetch("{{url_for('query.get_recent_activity', n=20)}}").then((resp) => resp.json()).then(async (data) => {
    const parent = document.getElementById('recent-activity');
    data.forEach((item, idx) => {
      render_feed_item(item, idx).forEach((element) => { parent.insertBefore(element, parent.lastElementChild); })
    });
  });

  function render_feed_item(item, idx) {
    const date = new Date(item.date);

    const row_1 = document.createElement('tr');
    row_1.innerHTML = `
      <td class="py-1 px-1">{{render_toggle_button_arrow('#activity-row-${idx}', 'collapse')}}</td>
      <td class="py-1 pe-2 text-start date-column"><small class="very-small">${ format_date(date) }</small></td>
      <td class="py-1 text-start"><a class="color-only" href="${ item.name_link }">${ item.name }</a></td>
    `;

    const row_2 = document.createElement('tr');
    row_2.innerHTML = `
      <td colspan="3">
        <div id="activity-row-${idx}" class="collapse">
          <div class="p-2">Posted in ${item.kind}</div>
        </div>
      </td>
    `;

    return [row_1, row_2];
  }

  function format_date(date) {
    return `${date.getFullYear()}-${(date.getMonth()+1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
  }
</script>
<!-- /Recent Activity -->


<!-- Numbers -->
<script type="module">

  // Adapted from https://jshakespeare.com/simple-count-up-number-animation-javascript-react/
  function set_big_number(element_id, value, add_plus) {

    const el = document.getElementById(element_id);

    // If value null, clear the display and abort
    if (value === null) {
      el.innerText = '----';
      return;
    }

    // Initialize element count to 0
    el.innerText = '0000';

    // Set total animation duration using a logistic function
    // (Bigger numbers take longer, but with exponential decay)
    const animationDuration = 4000 * (1 / (1 + Math.exp(-value / 10)) - 0.5);

    // Animation properties
    const frameDuration = 1000 / 60;
    const totalFrames = Math.round( animationDuration / frameDuration );

    // Use an exponential easing function
    // const easeOutQuad = t => t * ( 2 - t );
    const easeOut = t => t === 1 ? 1 : 1 - Math.pow(2, -10 * t);

    let frame = 0;
    const counter = setInterval( () => {
      frame++;
      const progress = easeOut( frame / totalFrames );
      const currentCount = Math.round(value * progress);
      el.innerText = currentCount;
      if (frame >= totalFrames) {
        clearInterval(counter);
        if (add_plus) {
          el.innerText += '+';
        }
      }
    }, frameDuration);
  }
</script>
<!-- /Numbers -->


<!-- Languages -->
<script>
  Array.from(document.getElementsByClassName('bar-chart-item')).forEach((el) => {

    // Clear the element
    el.innerText = '';

    // Animation function
    let counter = 0;
    const animate = setInterval(() => {

      // Add the next marker
      const item = document.createElement('span');
      item.innerText = '⬢';
      el.appendChild(item)

      // Stop when enough markers have been added
      if (++counter >= el.dataset.value) clearInterval(animate);
    }, 250)
  })
</script>
<!-- /Languages -->

{% endblock %}
