<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div id="nav">
  <div id="nav-inner">
    <div style="margin-left: 20px;">
      <h1>{{ title }}</h1>
    </div>
    <nav style="display: flex; align-items: center; justify-content: center; margin-right: 20px; width: {{ nav_links|length * 40 }}px;">
      {% for link in nav_links %}
        <a href="{{ link.url }}" class="slice" style="background-color: {{link.color}};" onmouseenter="openicon(this)" onmouseleave="closeicon(this)">
          <img title="{{link.title}}" height="36px" width="40px" style="object-fit: contain;" src="{{ url_for('static', filename='logos/' + link.path + '/logo-dark.png') }}">
        </a>
      {% endfor %}
    </nav>
  </div>
</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<script>
  const closed_width = 40;
  const open_width = 60;

  function openicon(iconEl) {
    iconEl.style.setProperty('--w', open_width + 'px');
    const icons = Array.from(document.getElementsByClassName('slice'));
    const total_width = icons.length * closed_width;
    const target_width = (total_width - open_width) / (icons.length - 1);
    icons.forEach(element => {
      if (element != iconEl) {
        element.style.setProperty('--w', target_width + 'px');
      }
    });
  }

  function closeicon(iconEl) {
    const icons = Array.from(document.getElementsByClassName('slice'));
    icons.forEach(element => {
      element.style.setProperty('--w', '40px');
    });
  }
</script>