{% extends 'base.html' %}


{% block body %}

<!-- Page Body -->
<div class="row h-100 w-100 gx-0">

  <!-- Left Panel -->
  <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xx-2" style="padding: 30px 0px 30px 30px;">
    <div class="panel d-flex flex-column text-center pb-2 px-3">

      <!-- Page Title -->
      <header>
        {% block header %}
        {% if title and not hide_title %}
          <div class="text-center">
            <h1>{%- for l, t in title.items() %}<span {{ set_lang(l) }}>{{t}}</span>{%- endfor %}</h1>
          </div>
        {% endif %}
        {% endblock %}
      </header>
      {% if title and not hide_title %}
        <div class="header-underbar">&#x2B26;</div>
      {% endif %}

      <!-- Left Panel Content -->
      {% block leftpanel %}{% endblock %}
    </div>
  </div>

  <!-- Center Panel -->
  <div class="col overflow-y-scroll overflow-x-hidden h-100" style="padding: 30px calc(var(--scrollbar-width) + 15px) 30px 15px;">
    {% block content %}{% endblock %}
  </div>

</div>

{% endblock %}
