{% extends 'base.html' %}
{% from '_macros/lang.j2' import render_lang_object with context %}


{% block body %}

{% if bigimage %}
<div class="h-100">
{% else %}
<div class="overflow-y-scroll overflow-x-hidden h-100" data-bs-spy="scroll" data-bs-target="#table-of-contents" data-bs-smooth-scroll="true" tabindex="0">
{% endif %}
  <div class="mb-5">
    <div class="row m-0 g-0">

      <!-- Table of Contents -->
      <div class="d-none d-sm-block col-sm-2 p-4 ps-0">
        <div id="table-of-contents" class="contents-scrollspy d-flex flex-column gap-2 text-start pt-3" style="position: sticky; top: 1em;">
          {% block sections %}{% endblock %}
        </div>
      </div>
      <!-- /Table of Contents -->

      <div class="col-12 col-sm-10 col-lg-8">
        <!-- Page Title -->
        <div class="col-12">
          <header>
            {% block header %}
            {% if title and not hide_title %}
              <div class="text-center"><h1>{{ render_lang_object(title) }}</h1></div>
            {% endif %}
            {% endblock %}
          </header>
          {% if title and not hide_title %}
            <div class="header-underbar">&#x2B26;</div>
          {% endif %}
        </div>
        <!-- /Page Title -->

        <!-- Page Body (Center Panel) -->
        <div class="col-12">
          <div class="px-4 {% if bigimage %}py-4{% else %}pb-4{% endif %}">
            {% block content %}{% endblock %}
          </div>
        </div>
        <!-- /Page Body -->
      </div>

      <!-- Recent Activity -->
      <div class="d-none d-lg-block col-lg-2 p-4">
        <div id="recent-activity" class="d-flex flex-column gap-3 pt-3" style="position: sticky; top: 1em;">
          <h6 class="pb-0">Recent Activity</h6>
          <div class="panel p-2">
            Blog post
          </div>
          <div class="panel p-2">
            Blog post
          </div>
          <div class="panel p-2">
            Blog post
          </div>
        </div>
      </div>
      <!-- /Recent Activity -->

    </div>
  </div>
</div>

{% endblock %}
