{% extends 'base.html' %}


{% block body %}
{% from '_includes/lang.j2' import render_lang_selector %}

<!-- Page Body -->
<div class="row h-100 w-100 gx-0">

  <!-- Left Panel -->
  <div class="panel-left col-6 col-sm-5 col-md-4 col-lg-3 col-xx-2">
    <div class="panel" style="display: flex; flex-direction: column; padding-bottom: 8px; text-align: center;">

      <!-- Page Title -->
      <header>
        {% block header %}
        {% if title and not hide_title %}
          <div style="text-align: center;">
            <h1>{%- for l, t in title.items() %}<span {{ set_lang(l) }}>{{t}}</span>{%- endfor %}</h1>
          </div>
        {% endif %}
        {% endblock %}
      </header>
      {% if title and not hide_title %}
        <div class="header-underbar">&#x2B26;</div>
      {% endif %}

      <!-- Left Panel Content -->
      {% block leftpanel %}{% endblock %}
    </div>

    {{ render_lang_selector(langs) }}
  </div>

  <!-- Center Panel -->
  <div class="panel-center col overflow-y-scroll overflow-x-hidden" style="padding-right: calc(var(--scrollbar-width) + 15px);">
    {% block content %}{% endblock %}
  </div>

</div>

{% endblock %}
