{% extends 'base.html' %}
{% from '_macros/lang.j2' import render_lang_object %}


{% block body %}

<!-- Page Body -->
<div class="row h-100 w-100 gx-0">

  <!-- Left Panel -->
  <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xx-2" style="padding: 30px 0px 30px 30px;">
    <div class="panel d-flex flex-column text-center pb-3 px-3">

      <!-- Page Title -->
      <header>
        {% block header %}
        {% if title and not hide_title %}
          <div class="text-center"><h1>{{ render_lang_object(title) }}</h1></div>
        {% endif %}
        {% endblock %}
      </header>
      {% if title and not hide_title %}
        <div class="header-underbar">&#x2B26;</div>
      {% endif %}

      <!-- Left Panel Content -->
      {% block leftpanel %}{% endblock %}

      {# Help Modal Button -- only renders if child defines help_modal_body block #}
      {% if self.help_modal_body() %}
      <div class="mt-3 float-end">
        <svg class="desc-button float-end" tabindex="0" viewBox="0 0 10 10" width="16px" height="16px" data-bs-toggle="modal" data-bs-target="#help">
          {% include '_includes/svg.html' %}
          <circle cx="5" cy="5" r="5" class="desc-button-bg" mask="url(#svg-mask-info)" />
        </svg>
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Center Panel -->
  <div class="col overflow-y-scroll overflow-x-hidden h-100" style="padding: 30px calc(var(--scrollbar-width) + 15px) 30px 15px;">
    {% block content %}{% endblock %}
  </div>

</div>


{% if self.help_modal_body() %}
<div class="modal fade" id="help" tabindex="-1" aria-labelledby="helpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="helpLabel">
          {% block help_modal_header %}Help{% endblock %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% block help_modal_body %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
