{% from '_includes/lang.j2'   import set_lang with context %}
{% from '_includes/header.j2' import render_logo, render_sections, render_links with context %}
<!doctype html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{title[lang]}}{% endblock %} &#x2B26; vlagrassa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div id="page-container">

  <!-- Header Nav -->
  <div id="header">
    <div class="header-left">
      {{ render_logo(hover="title_hover") }}
    </div>
    <nav class="header-middle">
      {{ render_sections(nav_sections) }} {# sep="&#11041;" #}
    </nav>
    <div class="header-right" style="width: {{ nav_links|length * 38 }}px;">
      {{ render_links(nav_links, 38, 60) }}
    </div>
  </div>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <!-- Page Title -->
  <header>
    {% block header %}
    {% if title and not hide_title %}
      <div style="text-align: center;">
        <h2>{%- for l, t in title.items() %}<span {{ set_lang(l) }}>{{t}}</span>{%- endfor %}</h2>
      </div>
    {% endif %}
    {% endblock %}
  </header>
  {% if title and not hide_title %}
    <div class="header-underbar">&#x2B26;</div>
  {% endif %}

  <!-- Page Body -->
  <div style="margin: 0px 30px; display: flex;">

    <!-- Left Panel -->
    <div class="panel panel-left">
      <h4>
        <span {{ set_lang("en") }}>Language</span>
        <span {{ set_lang("ja") }}>言語</span>
        <span {{ set_lang("tj") }}>Tʒoga</span>
      </h4>
      {% for l in langs %}
      <button id="button-{{l.code}}" class="lang-button" lang="{{l.code}}" onclick="set_language('{{l.code}}')">
        <div>{{l.name}}</div>
      </button>
      {% endfor %}
    </div>

    <!-- Center Panel -->
    <div class="panel panel-center">
      {% block content %}{% endblock %}
    </div>

    <!-- Right Panel -->
    <div class="panel panel-right"></div>
  </div>
</section>

</div>


<script>
  const LANGS = [{% for l in langs %}'{{l.code}}', {% endfor %}];

  function title_hover(el, val) {
    if (val) {
      // TODO: hover
    } else {
      // TODO: no hover
    }
  }

  function set_language(val) {
    LANGS.forEach((lang_code) => {
      document.getElementById(`button-${lang_code}`).classList.toggle('selected', val === lang_code)
      document.querySelectorAll(`[data-lang="${lang_code}"]`).forEach((el) => {
        el.classList.toggle('hide', val !== lang_code)
      })
    })
    {% if title %}
    {% for l, t in title.items() %}
    if (val === "{{l}}") document.title = "{{t}} {% if l != 'en' %}({{title.en}}) {% endif %}⬦ vlagrassa";
    {% endfor %}
    {% endif %}
  }
  set_language("{{lang}}")
</script>