{% extends 'base.html' %}
{% from '_macros/lang.j2' import set_lang, render_lang_object with context %}
{% from '_macros/utils.j2' import render_breadcrumb_item %}


{% block body %}

{% if header_image %}
<div class="h-100">
{% else %}
<div class="overflow-y-scroll overflow-x-hidden h-100" data-bs-spy="scroll" data-bs-target="#table-of-contents" data-bs-smooth-scroll="true" tabindex="0">
{% endif %}
  <div class="mb-5">
    <div class="row m-0 g-0">

      <!-- Left Panel -->
      <div class="d-none d-sm-block col-sm-2 p-4 ps-0">
        <div class="pt-3" style="position: sticky; top: 1em;">

          {%- if breadcrumb %}
          <!-- Breadcrumb -->
          <ul class="pb-3 ps-4 breadcrumb">
            {%- for page in breadcrumb %}
            {{ render_breadcrumb_item(page[0], page[1]) }}
            {%- endfor %}
            {# {{ render_breadcrumb_item(title, '#') }} #}
          </ul>
          <!-- /Breadcrumb -->
          <div class="header-underbar">&#x2B26;</div>
          {%- endif %}

          <!-- Table of Contents -->
          <div id="table-of-contents" class="contents-scrollspy d-flex flex-column gap-2 text-start pt-2">
            {% block sections %}{% endblock %}
          </div>
          <!-- /Table of Contents -->
        </div>
      </div>
      <!-- /Left Panel -->

      <div class="col-12 col-sm-10 col-lg-7">

        <!-- Page Title -->
        {% if title and not hide_title and not header_image %}
        <div class="col-12">
          {% block header %}
          <header class="text-center">
            {% block title_inline %}{{ super() }}{% endblock %}
          </header>
          {% if title and not hide_title and not header_image %}
          <div class="header-underbar">&#x2B26;</div>
          {% endif %}
          {% endblock %}
        </div>
        {% endif %}
        <!-- /Page Title -->

        <!-- Page Body (Center Panel) -->
        <div class="col-12 body-content-container">
          <div class="px-4 {% if header_image %}py-4{% else %}pb-4{% endif %}">
            {% block content %}{% endblock %}
          </div>
        </div>
        <!-- /Page Body -->
      </div>

      <!-- Recent Activity -->
      <div class="d-none d-lg-block col-lg-3 p-4">
        <div style="position: sticky; top: 1.5em;">
          {% block right_panel_top %}
          {% endblock %}
          <div id="recent-activity" class="d-flex flex-column gap-3 py-3 px-2 text-center">
            <h6 class="pb-0 mb-0">
              {{ render_lang_object(config.TEXT['sidebar.recent_activity']) }}
            </h6>
            <div class="w-100 px-2 text-end">
              <small class="very-small text-body-secondary">
                <span>See More</span>
              </small>
            </div>
          </div>
        </div>
      </div>
      <!-- /Recent Activity -->

    </div>
  </div>
</div>

<script type="module">
  fetch("{{url_for('query.get_recent_activity')}}").then((resp) => resp.json()).then(async (data) => {
    const parent = document.getElementById('recent-activity');
    data.forEach(element => {
      parent.insertBefore(render_feed_item(element), parent.lastElementChild);
    });
  })

  function render_feed_item(item) {
    const el = document.createElement('div');
    el.classList.add('card');
    el.classList.add('feed-item');
    el.innerHTML = `
      <div class="card-body text-start">
        <a href="${ item.name_link }">${ item.name }</a>
        <br/>
        <small class="text-body-secondary">
          <a href="${ item.kind_link }"><i>${ item.kind }</i></a>
        </small>
        <br/>
        <small class="very-small text-body-secondary">
          ${ item.change_type } 2h ago
        </small>
      </div>
    `;
    return el;
  }
</script>

{% endblock %}
