{% extends 'base-sidepanel.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}


{% block leftpanel %}
{% from '_includes/lang.j2' import render_searchbar %}
<form>
  {{ render_searchbar(id='searchbar', oninput='apply_filter') }}
</form>
{% endblock %}


{% block content %}
{% from '_includes/blog-post-card.j2' import render_blog_card with context %}
<div class="blog-container">
  {% for post in posts %}
    {{ render_blog_card(post) }}
  {% endfor %}
</div>
{% endblock %}


{% block script %}
<script>
  const post_list = {
    {%- for post in posts %}
    "card-{{post.id}}": {
      "title": "{{post.title}}",
      "tags": [ {% for tag in post.tags %}"{{tag.id}}",{% endfor %} ],
    },
    {%- endfor %}
  }
  function apply_filter(val) {
    val = val.toLowerCase();
    for (let key in post_list) {
      document.getElementById(key).style.display = post_list[key]['title'].toLowerCase().includes(val) ? 'inline-flex' : 'none';
    }
  }

  function select_tag(tag) {
    if (tag) {
      for (let key in post_list) {
        document.getElementById(key).style.display = post_list[key]['tags'].includes(tag) ? 'inline-flex' : 'none';
      }
    }
    else {
      for (let key in post_list) {
        document.getElementById(key).style.display = 'inline-flex';
      }
    }
  }
</script>
{% endblock %}
