{% extends 'base-center.html' %}
{% from '_macros/lang.j2' import render_lang_object %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
{% endblock %}


{% block sections %}
  {% from '_macros/utils.j2' import render_contents_entry %}
  {%- for sec in sections %}
  {%- if sec['title'] %}
  {{ render_contents_entry( sec['code'], sec['title'], sub=sec['level'] ) }}
  {%- endif %}
  {%- endfor %}
{% endblock %}


{% block content %}
{% from '_macros/blog.j2' import render_blog_tag %}

<!-- Sub-Header -->
<div class="text-body-secondary fst-italic fs-4 text-left mb-2" style="line-height: 1.5em">
  {{ subtitle }}
</div>

<small class="text-body-secondary fst-italic">
  <span {{set_lang("en")}}>
    Posted {{ post.date|postdateformat('en') }} in <a href="{{url_for('blog.group', slug=post.category.slug)}}" class="blog-subtitle"><i>{{post.category.name}}</i></a>
  </span>
  <span {{set_lang("ja")}}>
    {{ post.date|postdateformat('ja') }}で、「<a href="{{url_for('blog.group', slug=post.category.slug)}}" class="blog-subtitle"><i>{{post.category.name}}</i></a>」に
  </span>
  <span {{set_lang("tj")}}>
    {{ post.date|postdateformat('tj')|capsfirst }}, <a href="{{url_for('blog.group', slug=post.category.slug)}}" class="blog-subtitle"><i>{{post.category.name}}</i></a> ktaʒku
  </span>
</small>

<div class="d-flex gap-2 mt-3">
  {%- for tag in post.tags %}
  {{ render_blog_tag(tag, href=url_for('blog.blog', tags=tag.id)) }}
  {%- endfor %}
</div>
<div class="header-underbar mt-2 mb-2">&#x2B26;</div>
<!-- /Sub-Header -->

<div class="blog-post-body">
  {%- for sec in sections %}
  <div id="{{ sec['code'] }}">
    {%- if sec['title'] %}
    {%- if sec['level'] == 0 %}
    <h3 class="pt-3">{{ render_lang_object(sec['title']) }}</h3>
    {%- else %}
    <h4 class="pt-3">{{ render_lang_object(sec['title']) }}</h4>
    {%- endif %}
    {%- endif %}
    {{ sec['body']|markdown }}
  </div>
  {%- endfor %}
</div>

{% endblock %}
