{% extends 'base-sidepanel.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
{% endblock %}


{% block leftpanel %}
{% from '_macros/search.j2' import render_searchbar, render_searchbar_tags %}

<p>
  <span {{ set_lang("en") }}>I write stuff, sometimes.</span>
  <span {{ set_lang("ja") }}>ときどき何かを書きます。</span>
  <span {{ set_lang("tj") }}>I write stuff, sometimes.</span>
</p>

<div class="d-flex justify-content-around mt-2 mb-3">
  <button id="toggle-posts" class="toggle-button selected" onclick="show_section(this.id)">
    <div>Posts</div>
  </button>
  <button id="toggle-categories" class="toggle-button" onclick="show_section(this.id)">
    <div>Categories</div>
  </button>
</div>

<form novalidate onsubmit="event.preventDefault();">
  {{ render_searchbar(
    id='search-text', oninput='search_text',
    label={'en': 'Title', 'ja': '題名', 'tj': 'Title'},
    ) }}
  {{ render_searchbar_tags(
    id='search-tags', oninput='apply_tag_filter',
    label={'en': 'Tags', 'ja': 'タグ', 'tj': 'Tags'},
    tags=tags,
  ) }}
  <div class="d-flex justify-content-between" style="margin-top: -10px; margin-bottom: -10px;">
    <div style="flex: 1">
      {{ render_searchbar(
        id='search-date-1',
        label={'en': 'Start Date', 'ja': '開始日', 'tj': 'Start Date'},
      ) }}
    </div>
    <div style="width: 8px"></div>
    <div style="flex: 1">
      {{ render_searchbar(
        id='search-date-2',
        label={'en': 'End Date', 'ja': '終了日', 'tj': 'End Date'},
      ) }}
    </div>
  </div>
</form>
{% endblock %}


{% block content %}
{% from '_macros/blog.j2' import render_blog_card, render_blog_category_card with context %}

<div id="posts" class="blog-container">
  {% for post in posts %}
    {{ render_blog_card(post) }}
  {% endfor %}
</div>

<div id="categories" class="blog-container">
  {% for category in groups %}
  {{ render_blog_category_card(category) }}
  {% endfor %}
</div>
{% endblock %}


{% block script %}
<script>
  const post_list = {
    {%- for post in posts %}
    "card-{{post.id}}": {
      "title": "{{post.title}}",
      "tags": [ {% for tag in post.tags %}"{{tag.id}}",{% endfor %} ],
    },
    {%- endfor %}
  }

  const search_params = {
    'title': null,
    'tags':  [],
  }

  function search_text(val) {
    search_params.title = val.toLowerCase();
    apply_searches();
  }

  function apply_tag_filter(tag_selection) {
    search_params.tags = tag_selection;
    apply_searches();
  }


  // Filter all posts by applying all search terms
  function apply_searches() {
    for (let key in post_list) {
      document.getElementById(key).classList.toggle('hide', !filter_post(post_list[key], search_params));
    }
  }

  // Determine whether a single post matches all search params
  function filter_post(post, search_params) {

    // If no filters are applied, return true for all elements
    if (!search_params.title && search_params.tags.length == 0) {
      return true
    }

    // Filter out title mismatches
    if (search_params.title && !post.title.toLowerCase().includes(search_params.title)) {
      return false;
    }

    // Filter out tag mismatches
    if (search_params.tags.length > 0) {
      if (search_params.tags.some( tag => !post.tags.includes(tag) )) return false;
    }

    // If everything else passed, match
    return true;
  }


  // Initialization
  {%- for t in initial_tags %}
  add_tag('{{t.id}}');
  {%- endfor %}
  document.activeElement.blur();
</script>


{# Toggle between posts and categories #}
<script>
  const sections = ['posts', 'categories']
  let current_section = 'posts';

  function show_section(toggle_id) {
    const toggle_section = toggle_id.split('-')[1];
    if (current_section !== toggle_section) {
      current_section = toggle_section;
      update_section();
    }
  }

  function update_section() {
    sections.forEach(section => {
      document.getElementById(`toggle-${section}`).classList.toggle('selected', (current_section === section));
      document.getElementById(section).classList.toggle('hide', (current_section !== section));
    })
  }
  update_section();
</script>
{% endblock %}
