{% extends 'base-sidepanel.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}


{% block leftpanel %}
{% from '_macros/search.j2' import render_searchbar, render_searchbar_tags %}

<p>
  <span {{ set_lang("en") }}>I write stuff, sometimes.</span>
  <span {{ set_lang("ja") }}>ときどき何かを書きます。</span>
  <span {{ set_lang("tj") }}>I write stuff, sometimes.</span>
</p>

<form novalidate onsubmit="event.preventDefault();">
  {{ render_searchbar(
    id='search-text', oninput='search_text',
    label={'en': 'Title', 'ja': '題名', 'tj': 'Title'},
    ) }}
  {{ render_searchbar_tags(
    id='search-tags', oninput='apply_tag_filter',
    label={'en': 'Tags', 'ja': 'タグ', 'tj': 'Tags'},
    tags=tags,
  ) }}
  <div class="d-flex justify-content-between" style="margin-top: -10px;">
    <div style="flex: 1">
      {{ render_searchbar(
        id='search-date-1',
        label={'en': 'Start Date', 'ja': '開始日', 'tj': 'Start Date'},
      ) }}
    </div>
    <div style="width: 8px"></div>
    <div style="flex: 1">
      {{ render_searchbar(
        id='search-date-2',
        label={'en': 'End Date', 'ja': '終了日', 'tj': 'End Date'},
      ) }}
    </div>
  </div>
</form>
{% endblock %}


{% block content %}
{% from '_macros/blog.j2' import render_blog_card with context %}
<div class="blog-container">
  {% for post in posts %}
    {{ render_blog_card(post) }}
  {% endfor %}
</div>
{% endblock %}


{% block script %}
<script>
  const post_list = {
    {%- for post in posts %}
    "card-{{post.id}}": {
      "title": "{{post.title}}",
      "tags": [ {% for tag in post.tags %}"{{tag.id}}",{% endfor %} ],
    },
    {%- endfor %}
  }

  function search_text(val) {
    val = val.toLowerCase();
    for (let key in post_list) {
      document.getElementById(key).classList.toggle('hide', !post_list[key]['title'].toLowerCase().includes(val));
    }
  }

  function apply_tag_filter(tag_selection) {

    if (tag_selection.length === 0) {
      for (let key in post_list) {
        document.getElementById(key).classList.remove('hide');
      }
      return;
    }

    for (let key in post_list) {
      document.getElementById(key).classList.add('hide');
    }
    tag_selection.forEach((tag) => {
      for (let key in post_list) {
        if (post_list[key]['tags'].includes(tag)) {
          document.getElementById(key).classList.remove('hide');
        }
      }
    });
  }
</script>
{% endblock %}
