{% extends 'base-center.html' %}

{% block style %}
<style>
  @keyframes blink {
    from {
      border-color: white;
    }
    to {
      border-color: transparent;
    }
  }
  #blinker {
    border-left: 2px solid white;
  }
  #blinker.blinker {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

  }

  .desc-button {
    cursor: pointer;
    float: right;
    margin-left: 4px;
  }

  .desc-button-bg {
    fill: rgba(0, 0, 0, 0.3)
  }

  .desc-button-bg:hover {
    fill: rgba(0, 0, 0, 0.55);
  }
</style>
{% endblock %}

{% block bigimage %}
<div id="bg-img" style="background-image: url('{{ bigimage }}');">
  <div class="row h-100">
    <div class="col-12 col-md-8 d-flex align-items-center justify-content-center">
      <div class="bg-img-overlay d-flex flex-column align-items-center justify-content-center text-center">

        <h1 class="mx-4" style="font-size: 3.5em;">
          <span {{set_lang("en")}}>Vincent LɒGrɒssɒ</span>
          <span {{set_lang("ja")}}>ヴィンセント ラグラッサ</span>
          <span {{set_lang("tj")}}>Vincent LɒGrɒssɒ</span>
        </h1>
        <div class="header-underbar">&#x2B26;</div>

        <div class="mx-5 fs-5">
          {% include '_includes/blurb.html' %}
          <p style="height: 2.5em; overflow-y: visible; margin-bottom: -0.0em;">Often described <span id="third-point"></span><span id="blinker"></span></p>
        </div>

        <div style="width: 92%">
          <svg class="desc-button" tabindex="0" viewBox="0 0 10 10" width="18px" height="18px">
            {% include '_includes/svg.j2' %}
            <circle cx="5" cy="5" r="5" class="desc-button-bg" mask="url(#svg-mask-info)" />
          </svg>
          <svg class="desc-button" tabindex="0" viewBox="0 0 10 10" width="18px" height="18px" onclick="toggle_play()">
            <circle id="play-btn" cx="5" cy="5" r="5" class="desc-button-bg" mask="url(#svg-mask-pause)" />
          </svg>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-4"></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <p {{set_lang("en")}}>
    This site is currently <span class="double-underline">under construction</span>.
  </p>
  <p {{set_lang("ja")}}>
    このサイトは今<span class="double-underline">工事中</span>です。
  </p>
  <p {{set_lang("tj")}}>
    Kɛ knovh aʒdt agayɛn <span class="double-underline">saʒku</span>.
  </p>

  <p {{set_lang("en")}}>
    In the meantime, please consider visiting me around the web!
  </p>
  <p {{set_lang("ja")}}>
    この間、ネットで私を見て考えてみてください！
  </p>
</div></div>
{% endblock %}

{% block script %}
<script>
  {% include '_scripts/phrase-manager.js' %}

  const target  = document.getElementById('third-point');
  const blinker = document.getElementById('blinker');

  var play = true;

  fetch("{{url_for('home.get_descriptors')}}").then((foo) => foo.json()).then(async (descriptors) => {
    phraseManager.init(
      target,
      descriptors,
      () => play,
      (typing_status) => blinker.classList.toggle('blinker', !typing_status),
    );
  })

  function toggle_play() {
    play = !play;
    document.getElementById('play-btn').setAttribute('mask', `url(#svg-mask-${play ? 'pause' : 'play'})`);
    target.dispatchEvent(new CustomEvent('play', {
      detail: {play}
    }));
  }
</script>
{% endblock %}
