{% extends 'base-center.html' %}


{% block style %}
<style>
  @keyframes blink {
    from {
      border-color: white;
    }
    to {
      border-color: transparent;
    }
  }
  #blinker {
    border-left: 2px solid white;
  }
  #blinker.blinker {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

  }

  .desc-button {
    cursor: pointer;
    float: right;
    margin-left: 4px;
  }

  .desc-button-bg {
    fill: rgba(0, 0, 0, 0.3)
  }

  .desc-button-bg:hover {
    fill: rgba(0, 0, 0, 0.55);
  }
</style>
{% endblock %}


{% block bigimage %}
<div class="big-image" style="background-image: url('{{ bigimage }}');">
  <div class="row h-100">
    <div class="col-12 col-md-8 d-flex align-items-center justify-content-center">
      <div class="big-image-overlay d-flex flex-column align-items-center justify-content-center text-center">

        <h1 class="mx-4" style="font-size: 3.5em;">
          <span {{set_lang("en")}}>Vincent LɒGrɒssɒ</span>
          <span {{set_lang("ja")}}>ヴィンセント ラグラッサ</span>
          <span {{set_lang("tj")}}>Vincent LɒGrɒssɒ</span>
        </h1>
        <div class="header-underbar">&#x2B26;</div>

        <div class="mx-5 fs-5">
          {% include '_includes/blurb.html' %}
          <p style="height: 2.5em; overflow-y: visible; margin-bottom: -0.0em;">Often described <span id="third-point"></span><span id="blinker"></span></p>
        </div>

        <div style="width: 92%">
          <svg class="desc-button" tabindex="0" viewBox="0 0 10 10" width="18px" height="18px">
            {% include '_includes/svg.html' %}
            <circle cx="5" cy="5" r="5" class="desc-button-bg" mask="url(#svg-mask-info)" />
          </svg>
          <svg class="desc-button" tabindex="0" viewBox="0 0 10 10" width="18px" height="18px" onclick="toggle_play()">
            <circle id="play-btn" cx="5" cy="5" r="5" class="desc-button-bg" mask="url(#svg-mask-pause)" />
          </svg>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-4"></div>
  </div>
</div>
{% endblock %}


{% block sections %}
  {% from '_macros/utils.j2' import render_contents_entry %}
  {{ render_contents_entry('welcome',  { 'en': "Welcome!",              'tj': "Welcome!",        'ja': 'ようこそ！' }) }}
  {{ render_contents_entry('timeline', { 'en': "Timeline",              'tj': "Timeline",        'ja': 'タイムライン' }) }}
  {{ render_contents_entry('another',  { 'en': "Another Section",       'tj': "Another Section", 'ja': '別の部分' }) }}
  {{ render_contents_entry('contact',  { 'en': "Let's Connect!",        'tj': "Let's Connect!",  'ja': '連絡しよう' }) }}
{% endblock %}


{% block content %}
<div id="welcome">
  <h3 class="pt-3">
    <span {{set_lang('en')}}>Welcome!</span>
    <span {{set_lang('ja')}}>ようこそ！</span>
    <span {{set_lang('tj')}}>Welcome!</span>
  </h3>
  <p class="text-body-secondary fst-italic">
    Hello there
  </p>
  {% include '_includes/lorem-ipsum.html' %}
</div>

<div id="timeline">
  <h3 class="pt-3">
    <span {{set_lang('en')}}>Timeline</span>
    <span {{set_lang('ja')}}>タイムライン</span>
    <span {{set_lang('tj')}}>Timeline</span>
  </h3>
  {% include '_includes/lorem-ipsum.html' %}
</div>

<div id="another">
  <h3 class="pt-3">
    <span {{set_lang('en')}}>Another Section</span>
    <span {{set_lang('ja')}}>別の部分</span>
    <span {{set_lang('tj')}}>Another Section</span>
  </h3>
  {% include '_includes/lorem-ipsum.html' %}
  <div class="panel px-4 py-4 mt-2 mb-3">
    Hello!
  </div>
  {% include '_includes/lorem-ipsum.html' %}
  {% include '_includes/lorem-ipsum.html' %}
</div>


<h3 id="contact" class="pt-3">
  <span {{set_lang('en')}}>Let's Connect!</span>
  <span {{set_lang('ja')}}>連絡しよう</span>
  <span {{set_lang('tj')}}>Let's Connect!</span>
</h3>
<p>
  If you've got questions, comments, or just want to say hi, feel free to reach out at <a class="link" href="mailto:contact@vlagrassa.dev">contact@vlagrassa.dev</a>.
</p>
<p>
  I'd love to hear from you!
</p>
{% endblock %}


{% block script %}
<script>
  {% include '_scripts/phrase-manager.js' %}

  const target  = document.getElementById('third-point');
  const blinker = document.getElementById('blinker');

  var play = true;

  fetch("{{url_for('home.get_descriptors')}}").then((foo) => foo.json()).then(async (descriptors) => {
    phraseManager.init(
      target,
      descriptors,
      () => play,
      (typing_status) => blinker.classList.toggle('blinker', !typing_status),
    );
  })

  function toggle_play() {
    play = !play;
    document.getElementById('play-btn').setAttribute('mask', `url(#svg-mask-${play ? 'pause' : 'play'})`);
    target.dispatchEvent(new CustomEvent('play', {
      detail: {play}
    }));
  }
</script>
{% endblock %}
