{% extends 'base-center.html' %}

{% block content %}
<div class="center-content" style="height: 100%; text-align: center;"><div>
  <p {{set_lang("en")}}>
    This site is currently <span class="double-underline">under construction</span>.
  </p>
  <p {{set_lang("ja")}}>
    このサイトは今<span class="double-underline">工事中</span>です。
  </p>
  <p {{set_lang("tj")}}>
    Kɛ knovh aʒdt agayɛn <span class="double-underline">saʒku</span>.
  </p>

  <p {{set_lang("en")}}>
    In the meantime, please consider visiting me around the web!
  </p>
  <p {{set_lang("ja")}}>
    この間、ネットで私を見て考えてみてください！
  </p>
</div></div>
{% endblock %}
