{% extends 'base-center.html' %}

{% block content %}
<div class="text-center">
  <p {{set_lang("en")}}>
    This site is currently <span class="double-underline fw-bold">under construction</span>.
  </p>
  <p {{set_lang("ja")}}>
    このサイトは今<span class="double-underline fw-bold">工事中</span>です。
  </p>
  <p {{set_lang("tj")}}>
    Kɛ knovh aʒdt agayɛn <span class="double-underline fw-bold">saʒkɔlɔ</span> yʒo.
  </p>

  <p {{set_lang("en")}}>
    In the meantime, please consider visiting me <a href="" class="link">around the web</a>!
  </p>
  <p {{set_lang("ja")}}>
    この間、<a href="" class="link">ネット</a>で私を見て考えてみてください！
  </p>
</div>
{% endblock %}
