{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">
{% endblock %}

{% block leftpanel %}
{% from '_includes/lang.j2' import render_searchbar %}
<p style="padding: 0 16px;">
  <span {{ set_lang("en") }}>This is a library of projects I've made over the years.</span>
  <span {{ set_lang("ja") }}>
    ここは私が作った{{'プロジェクト'|nb}}の{{'宝庫'|nb}}{{'です。'|nb}}
  </span>
</p>
<p>
  <span {{ set_lang("en") }}>Many of the projects have interactive web-app components. Please check them out!</span>
  <span {{ set_lang("ja") }}>たくさんウェブ・アプリがあります。見てください！</span>
</p>

<form>
  {{ render_searchbar(id='searchbar', oninput='apply_filter') }}

  <select>
    <option>Programming</option>
    <option>Language</option>
  </select>
</form>
{% endblock %}

{% block content %}
{% from '_includes/icons.j2' import project_icon, date_year_range with context %}
<div>

  <div class="main">
    <div class="container">
      {% for project in projects %}
      <a class="hex hexicon-border">
        <div class="hex hexicon">
          <div class="hexicon-body">
            {% if project.get('created_date') or project.get('modified_date') %}
            <div class="hexicon-overlay-date">
              {{ date_year_range(project.get('created_date'), project.get('modified_date')) }}
            </div>
            {% endif %}
            <div class="hexicon-overlay">
              <h2 style="margin: 0px 10px; font-weight: normal;">{{project.name}}</h2>
            </div>
            <div class="hexicon-overlay-bottom">
              {{ project_icon(project.location) }}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
