{% extends 'base-sidepanel.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}


{% block leftpanel %}
{% from '_includes/search.j2' import render_searchbar, render_searchbar_tags %}
<p>
  <span {{ set_lang("en") }}>
    This is a library of projects I've made over the years.
  </span>
  <span {{ set_lang("ja") }}>
    私が作った{{'プロジェクト'|nb}}の{{'宝庫'|nb}}{{'です。'|nb}}
  </span>
  <span {{ set_lang("tj") }}>
    This is a library of projects I've made over the years.
  </span>
</p>
<p>
  <span {{ set_lang("en") }}>
    Many of the projects have interactive web-app components. Please check them out!
  </span>
  <span {{ set_lang("ja") }}>
    たくさんウェブ・アプリが{{'あります。'|nb}}{{'見てください！'|nb}}
  </span>
  <span {{ set_lang("tj") }}>
    Many of the projects have interactive web-app components. Please check them out!
  </span>
</p>

<form>
  {{ render_searchbar(
    id='search-text', oninput='search_text',
    label={'en': 'Title', 'ja': '題名', 'tj': 'Title'}
    ) }}
  {{ render_searchbar(
    id='search-tags',
    label={'en': 'Tags', 'ja': 'タグ', 'tj': 'Tags'},
    ) }}
</form>
{% endblock %}

{% block content %}
{% from '_includes/icons.j2' import project_icon, date_year_range with context %}
{% from '_includes/project-hex.j2' import render_project_hex with context %}
<div>

  <div class="main">
    <div class="container">
      {%- for project in projects %}
      {{ render_project_hex(project) }}
      {%- endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function search_text(val) {
    val = val.toLowerCase();
    console.log('Searching for "' + val + '"...');
  }
</script>
{% endblock %}
